[2021-05-01 15:29] jsteube commented on #2765
OK, I found a memory leak and fixed it with commit: https://github.com/hashcat/hashcat/commit/59459d0e5b5a16038ec86ce4269dfbdb0dd9f063

Of course it's possible that there's more memory leaks, but this one for sure had a large impact on memory (both host and compute device). Please retry with fixed version and close the issue if fixed.

Thanks for the graphs and stuff, it really helped!

[2021-05-01 15:30] jsteube commented on #2779
Thanks for the heads-up. I'm in the preparation but there's still many issues and PR I have to go for some serious issues.

[2021-05-01 18:11] lhunath commented on #2757
Looks good now.

[2021-05-01 18:11] #2757 closed, assigned to nobody

[2021-05-02 08:49] jsteube commented on #2701
In pure kernel mode hashcat needs to distribute the words from the left wordlist to the GPU shaders. Only in optimized mode  hashcat can select the larger one as the source for the distribute. Note that -m 12700 supports pure kernel mode only.

[2021-05-02 08:49] #2701 closed, assigned to nobody

[2021-05-02 08:50] jsteube commented on #2701
As a workaround, you might want to use rules and convert the words from the smaller left wordlist into rules. These can be applied with high performance also in pure kernel mode.

[2021-05-02 09:46] jsteube commented on #2724
It's almost impossible to find any valid documentation on how to do sha0. Anyway from that source, compared to SHA1, it seems only thing to do is to remove the rotate(...,1) from the expansion phase.

Since there's no perl module I can't write a unit test so I'm not highly motivated to add this as a regular hash-mode to hashcat. However, here's a little hack so you can manually change the sha1 ker

[2021-05-02 22:41] Gurenduben opened #2780 "using hashcat with google colab tpu"
how do i setup hashcat to use their Tensor Prosessors?

[2021-05-02 23:52] ventaquil commented on #2765
My interpretation was the same - there was small memory leak.

It's nice that you found it so fast! Glad to help!

I will make new tests and share results.

[2021-05-03 01:33] Chick3nman commented on #2780
We don't support the TPU and the TPU wouldn't support us, in theory. It's an ASIC that doesn't even do the right kind of math for password hashing. It's built for Matrix operations for interference training, not low precision parallel integer operations.

[2021-05-03 07:52] jsteube commented on #2707
Yes, but only if the auth_magic is a password or not too long to bf (max 8 char). However, this is not a question suitable to GitHub issues, please use hashcat forum instead.

[2021-05-03 07:52] #2707 closed, assigned to nobody

[2021-05-03 07:53] jsteube commented on #2698
Hash-Mode was merged with PR https://github.com/hashcat/hashcat/pull/2702

[2021-05-03 07:53] #2698 closed, assigned to nobody

[2021-05-03 08:06] jsteube commented on #2696
Yes, I like the idea, but -S disables -a 1 and -a 9. We need a mechanism to enable the user to use them.

So maybe by adding another option like --fast-candidates -F. Then we can set slow hashes by default to -S and fast hashes to -F, but the user can use -F to override the default in slow hash mode, which then enables them to use -a 1 or -a 9.

What you think?

[2021-05-03 12:02] Chick3nman commented on #2696
Setting -S costs some resources on the host side and the effect is not consistent between systems, especially with more GPUs. With a properly sized wordlist, switching -S should have little to no positive effect on the cracking speed. The issue it solves typically comes from very small attacks, often highly targeted wordlists mixed with many many rules. There are simply not enough base candidates

[2021-05-03 12:49] ventaquil commented on #2765
Much better right now, benchmark on both machines ended successfully.

GeForce RTX 3080

![GeForce RTX 3080](https://user-images.githubusercontent.com/10523774/116877119-ce4b4300-ac1d-11eb-9dd4-ef9e4e62fee0.png)

Quadro RTX 5000

![Quadro RTX 5000](https://user-images.githubusercontent.com/10523774/116877177-e1f6a980-ac1d-11eb-9580-2d8633fc5ed7.png)

I can prepare diagrams in bigger resolution but

[2021-05-03 17:59] oorlykk opened #2781 "slow down execution"
Hi. How can i limited hashcat use my gpu. 50% from available power. is it possible?

[2021-05-03 18:59] jsteube commented on #2765
OK, just for verification, you're still on 460.x drivers (not 465.x or higher) and just few day old hashcat beta from hashcat.net/beta or compiled from github master?

[2021-05-03 19:53] jsteube commented on #2765
I think I have a lead, but I don't know if I can do anything. It seems that if you have a fresh unpacked hashcat folder without the kernels/ cached  binary kernels folder this host memory leak shows up. For security I also had to remove $HOME/.nv but not sure if this is relevant. Anyway when there's no kernel cache, hashcat has to compile the sources but then stored them as binary caches after fir

[2021-05-03 21:13] jsteube commented on #2765
This is clearly a bug in latest nvidia driver. I have reported this bug to nvidia and send them a minimal proof of concept code.

Here is the relevant section just in case I lose somehow:

[code]
And run with: gcc -o nv_memleak nv_memleak.c -lOpenCL && pidstat -r 1 -e ./nv_memleak

I can't do anything more than that, therefore closing the issue.

[2021-05-03 21:13] #2765 closed, assigned to nobody

[2021-05-04 17:11] realSnoopy opened #2782 "crash with mode 2811, optimized kernel, attack mode 9, similar to closed issue 2769"
maybe somehow related to this closed issue
[https://github.com/hashcat/hashcat/issues/2769](url)

hashcat (v6.1.1-298-g95489b047)
CUDA.Version.: 11.3

same problem with crashing on optimized kernel -O (hash 2811) with these outputs

cuMemcpyDtoH(): an illegal memory access was encountered
cuMemFree(): an illegal memory access was encountered
cuEventDestroy(): an illegal memory access was encounter

[2021-05-04 17:44] jsteube commented on #2782
Is not the same issue, only the same error message.

Is not the same problem

I can't reproduce this with my artficially generated hashlist. Since you did not attach them I had to generate some myself.

That might be a problem

Same for me. But for me pure works, too.

Attack-mode 9 clearly stated it is not supporting potfile, neither read or writte. How can it be, because needs to be aligned. If

[2021-05-04 18:05] jsteube commented on #2782
OK, thanks for the files. I have deleted the comment including the files. I now can reproduce the problem.

[2021-05-04 19:31] ventaquil commented on #2765
Okay, good to know. Thank you for your research!

[2021-05-04 19:49] jsteube commented on #2782
OK, this should be fixed with commit https://github.com/hashcat/hashcat/commit/3543094591fd718f69b218604bc51dd622e0e92d

I have also put up a new binary beta to hashcat.net/beta

I did not make a note into changes because -a 9 attack did not exist in 6.1.1 release and it would confuse user who do not use beta versions.

Thanks for reporting!

Please verify and confirm by closing the issue.

[2021-05-04 20:54] realSnoopy commented on #2782
did some test
first of all it seems to work like intended, but after comparing results, i found one strange thing ( i think it is a rule based problem, see below)
i compared the results pure kernel (old beta git 298) with your new beta 304 optimized (sorted before)

no rules no diff
best64 no diff
dive  found diff

diff pure.old opt.new
612d611
'< 271923ee7c0989e0873c3d398a7ba5ad:Kcv?v:00000000000

[2021-05-05 07:32] ventaquil commented on #2781
As far as I know you can use `--workload-profile`.

[code]

[2021-05-05 08:04] jsteube commented on #2782
For the 271923ee7c0989e0873c3d398a7ba5ad everything is fine:

base: 00000000000000000000000000 [26]
pw:   00000000000000000000000000000000 [32]
rule: $0 Z5

Visualization:

[code]

The reason it was not reported in -O is because the final password length 32 is one character too much to handle.
Optimized kernel can't crack it, but pure kernel can crack it because it supports up to 256.

---

For th

[2021-05-05 08:12] realSnoopy commented on #2782
thank you for the detailed answer, this attack is really awesome

[2021-05-05 08:12] #2782 closed, assigned to nobody

[2021-05-05 12:30] JasonMalik opened #2783 "Kerberos 5, etype 18, Pre-Auth (19900) with salt"
Hello,

Is it possible to add support for salt when using Kerberos 5, etype 18, Pre-Auth?

$krb5pa$18$user$domain$salt$token

I can crack such a format using John, but I'd rather use Hashcat.

Thank you.

[2021-05-05 13:27] Sven1981 opened #2784 "Some algorithms (like RAR3-p) not working in beta with ATI Vega64 GPU but on CPU"
I normally used the actual hashcat 6.1.1 stable. There are no problems, but some algorithms are not present, so i tried to use the beta. For example RAR3-p (23800) is only working on CPU, but not on GPU, there it just ends. Because I do not get any error message, I would be happy about any idea. Other algorithms work with the GPU without any problem.

CPU:

[code]

GPU:

[code]

[2021-05-05 13:34] jsteube commented on #2784
If there's no error message, then it crashed inside the driver. Keep in mind that AMD drivers are tested only on Linux. Is possible it's not working. If you switch to Linux make sure to use rocr driver for OpenCL. Maybe you have that option on the Windows drivers, too, I don't know.

[2021-05-05 14:14] Sven1981 commented on #2784
Sounds logical, but it seemed strange to me, that other algorithms work with the same setup (hashcat beta, using GPU).

[2021-05-05 19:20] jsteube commented on #2467
I think this can be done, but as always there's the details.

1. After 'f' was pressed, should it be possible to undo it it? If yes, how?
2. After 'f' was pressed, should it be allowed to use 'b'?

[2021-05-05 19:22] jsteube commented on #2781
You can use either -w or directly by using -u1 -n1 -T1 --force to set a work item minimum. But I think the best way in general is by using nvidia-smi -pl XXX and set the wattage.

[2021-05-05 19:22] #2781 closed, assigned to nobody

[2021-05-05 19:22] #2780 closed, assigned to nobody

[2021-05-05 19:26] roycewilliams commented on #2467
Ah, good questions. Hot takes:

1. yes, maybe undo with "un[f]inish" ?
2. yes, it seems reasonable for the user to change their mind and [b]ypass. (it could also be OK to require them to un[f]inish first to do so, but I think just directly supporting 'b' makes more sense)

[2021-05-05 19:40] jsteube commented on #2467
What kind of confirmation message would you send to the user after 'f' is pressed? For checkpoint we have:

Checkpoint enabled. Will quit at next restore-point update.
and
Checkpoint disabled. Restore-point updates will no longer be monitored.

[2021-05-05 19:55] jsteube commented on #2467
I think allowing 'b' after 'f' makes sense, yes, but not if the behavior is the same as what 'q' would do. If instead it will override the 'f' finish and continue with the next attack that would justify it. Otherwise you have twice the same action for two different keys.

[2021-05-05 20:01] roycewilliams commented on #2467
Agreed. For wording, how about something like

Finish enabled. Will quit after this attack.
and
Finish disabled. Will continue after this attack.

[2021-05-05 20:04] jsteube commented on #2467
About the [f]inish and un[f]inish that would be different to how [c]heckpoint works. That's why we send the notice to the user after the keypress. I will implement it that way just to stay conform.

One more thing. If the user activates [c]heckpoint, the status of the task in the status view chages from just "Running" to "Running (Checkpoint Quit requested)". I think something similar we should do

[2021-05-05 20:13] jsteube commented on #2467
One more thing about the 'b' after 'f'. So we agree that we will move on to the next attack, but for the next attack we could have the 'f' still activated or not? I see good things in both. I tend to unset it, but technically the user did not request to unset it....

[2021-05-05 20:41] roycewilliams commented on #2467
I like that - "Running (Quit after attack requested)" seems good

I think for most workflows, if the user changes their mind and decides to bypass, they are more likely to want to keep going (so, unset it, and let them hit "finish" again if they want to)

[2021-05-05 20:48] jsteube commented on #2467
OK, btw I checked the same is happening with checkpoint. if bypass is used after checkpoint was enabled if will disable the checkpoint.

[2021-05-05 20:54] jsteube commented on #2467
Implemented with https://github.com/hashcat/hashcat/commit/32b40d5c53e0c438576f33bfa03d8fe6b87d08e8

Thanks for the suggestion!

[2021-05-05 20:54] #2467 closed, assigned to nobody

[2021-05-06 07:57] ventaquil commented on #2784
On my Ubuntu 20.04 it works okay (fresh Hashcat from `master` branch). Windows specific issue?

[code]

[2021-05-06 12:28] nikka-dotcom opened #2786 "Hashcat"

[2021-05-06 12:44] matanox commented on #2689
Did you manage getting past this error?

[2021-05-08 12:43] ghost opened #2787 "Arch Hashcat error"
I installed Hashcat in Kali Linux and it works fine
But I use pacman -S hashcat in Arch and it shows an error，What am i doing ？
![Screenshot_20210508_204302](https://user-images.githubusercontent.com/83487691/117539608-08617e00-b03e-11eb-963e-786fa567df86.jpg)

[2021-05-08 13:20] jsteube commented on #2787
GitHub issues are for Bugs and FR only. Please ask on Forum.

[2021-05-08 13:20] #2787 closed, assigned to nobody

[2021-05-08 15:32] #2786 closed, assigned to nobody

[2021-05-08 16:18] jsteube commented on #2784
It is an AMD driver problem, but only in the legacy driver.

On Linux the user can select between the legacy (like in windows) and OSS driver rocm. The rocm is much faster and it seems more robust driver. On rocm, the problem will not occur (see paste from @ventaquil).

To reproduce I have installed legacy driver on Linux to catch the segmentation fault with debugger and it clearly tells it's cras

[2021-05-08 16:18] #2784 closed, assigned to nobody

[2021-05-08 18:26] roycewilliams commented on #1966
PuTTY 0.75, released today (2021-05-08), now uses Argon2:

[2021-05-08 18:40] roycewilliams commented on #1966
fscrypt, the Linux filesystem encryption management framework, uses Argon2id:

https://github.com/google/fscrypt#features

[2021-05-09 11:46] #2724 closed, assigned to nobody

[2021-05-09 11:46] anhilo commented on #2724
big ths

[2021-05-09 17:48] swz-git commented on #2692
I've downgraded my cuda to 11.1 but it still gives me the same error @matrix
I'm running a 3060ti btw

[2021-05-09 18:52] jsteube commented on #2692
A safe way is if you uninstall all drivers, also the one from the distribution, also pocl, mesa and whatever opencl package you have installed and then install the cuda sdk including the driver it ships with.

[2021-05-09 18:53] jsteube commented on #2779
RC2 is up in hashcat.net/beta release soon

[2021-05-10 13:13] swz-git commented on #2692
I solved it by updating the nvidia driver in geforce experience and then installing cuda 11.1 without the included cuda driver

[2021-05-11 16:38] jj2hh2hasdf opened #2788 "Bcrypt(Bcrypt($Pass)) Kernel Support"
Looking for someone to create a Bcrypt(Bcrypt($Pass)) kernel

The important thing is to use the same irritations and the same SALT when hashing the password and the Bcrypt(Bcrypt(Pass)).

Example:

Password: Hashcat

Hash: $2a$10$ayf3TVbTajnRQT//RCPlTumo1XJlY9v/sBogLLgTTZ.8b0lzYZD3S

Salt: ayf3TVbTajnRQT//RCPlTu

Bcrypt(Password): $2a$10$ayf3TVbTajnRQT//RCPlTudgDvomf9YxgHAIiUUyoP3.1l8vapl5i

Bcryp

[2021-05-11 18:09] roycewilliams commented on #2788
What is the real-world application for this?

Wrapping a salted hash in another salted hash doesn't usually work very well.

[2021-05-11 18:42] jj2hh2hasdf commented on #2788
@roycewilliams a plugin for woltlab suite forums

They use Bcrypt(Bcrypt(Pass)) (same salt)

[2021-05-11 19:09] roycewilliams commented on #2788
Wow - it looks like someone's being doing this "double bcrypt" since ... at least 2014?

https://community.woltlab.com/thread/229863-add-users-from-external-form-registration-api/

Which is ... silly. :) Two passes of bcrypt cost 10 is _exactly_ the same strength as bcrypt cost 11 (each cost increment doubles the cost to execute). It's _completely_ unnecessary complexity (and probably more fragile

[2021-05-11 19:24] jj2hh2hasdf commented on #2788
Well yea and I got a dump with these hashes that need to be cracked, hopefully someone has the time to create a kernel for hashcat. I will gladly tip !

[2021-05-11 19:37] Chick3nman commented on #2788
This is definitely a weird one. I'm not sure it makes sense to go through the trouble of adding as a new hash mode for this as it's pretty rare and specific and will be exceedingly slow. Not sure there's much point of doing this on GPU even given that it will always be 11 cost bcrypt.

[2021-05-11 19:49] jj2hh2hasdf commented on #2788
I guess its not as simple as chaneging the 10 to 11 and run it ? (edit: didn't work lol)

Hopefully someone still makes one though would make my day : )

[2021-05-12 13:43] gfrancqu commented on #2689
Having the same issue, any update ?

[2021-05-14 14:11] hands-of-cat commented on #2689
I could resolve this issue by using install.sh in opencl_runtime_16.1.2_x64_rh_6.4.0.37.tgz  according to the article below:
https://hashcat.net/forum/thread-9810.html

I downloaded tgz file below:
http://registrationcenter-download.intel.com/akdlm/irc_nas/12556/opencl_runtime_16.1.2_x64_rh_6.4.0.37.tgz

- Installer showed that my environment was lack of llvm 4.0.
- After installing, /etc/OpenCL/v

[2021-05-14 17:29] noraj commented on #2779
All good https://github.com/hashcat/hashcat/releases/tag/v6.2.0

[2021-05-14 17:29] #2779 closed, assigned to nobody

[2021-05-14 18:23] xvitaly commented on #2614
@jsteube Please fix this legal issue. As a Fedora maintainer, I'm unable to update hashcat to 6.2.0.

[2021-05-14 19:01] jsteube commented on #2614
Hey there I was away for a while and I just found your issue since you had it updated. The license clearly allows the distribution:

[code]

However if it's more easy for to workaround this dependency I can make it optional. The questions is just how. So for example we could add an option in the Makefile, something like USE_UNRAR=1, which you can set to zero and it will not compile the relate plug

[2021-05-14 19:19] xvitaly commented on #2614
This is a proprietary license aka "freeware". Fedora, Debian and most of other GNU/Linux distributions strictly forbid shipping non-free components even in source tarballs.

`USE_UNRAR ?= 1` will be okay, IMO.

Yes. I will need to manually strip tarball and make my own without unrar sources. This is normal and easy to automate.

[2021-05-14 20:12] sopsmattw opened #2789 "FR: parameter similar to --runtime, but it skips"
Request to add a parameter similar to --runtime. maybe call it --skiptime.

The skiptime parameter takes a value in seconds for determining if the session should be skipped. This varies from runtime, which runs all sessions up to the --runtime value. This would load Time.Estimated for a session and if it's more than $skiptime, abandon the session and move on.

[2021-05-14 20:17] Chick3nman commented on #2789
Should be an easy addition, I'll see if i can knock this out this weekend. As for the flag, how about `--runtime-bypass` or `--runtime-skip`? Slightly easier to understand what it does, given what `--runtime` already does.

[2021-05-14 20:50] sopsmattw commented on #2789
I'm good with anything you decide.. You know the current thought process for parameters better than I do.

[2021-05-14 22:05] jsteube commented on #2614
I just pushed commit https://github.com/hashcat/hashcat/commit/ce90f83b655070d10e6cffea425a7dbc1f77575e

The variable name is ENABLE_UNRAR. You can set it to zero and it will not compile -m 23800 module. Please let me know if it works for you so I can create hashcat 6.2.1.

[2021-05-15 10:28] xvitaly commented on #2614
Great. Many thanks.

I will try to build with this patch soon.

[2021-05-15 11:39] xvitaly commented on #2614
Works fine. Thanks.

[2021-05-15 12:22] jsteube commented on #2614
OK, new release is up. Please close issue if everything is ok.

[2021-05-15 12:25] #2614 closed, assigned to nobody

[2021-05-15 21:55] 0xVavaldi opened #2790 "NTLM Unoptimized kernel can not recover (specific) hashes"
Located a bug in the unoptimized kernel of NTLM which can be found by the optimized kernel.
This was tested using v6.1.1-323-g286002a8d and v6.1.1-294-g59459d0e5 on ubuntu and windows respectively

Put the following plains in a text file:
Т89134010266
ас0639356749
hashcat

With the following hashes:
5c344d6d31bd69f0df66c30dc40237b2
aa8e4c77888e4af09db544e82776f6f2
b4b9b02e6f09a9bd760f388b67351e2b

[2021-05-15 22:23] Chick3nman commented on #2790
Could you encode the plaintexts with hex please, I'm having a bit of trouble copying them to recreate this issue. They appear to contain misleading characters, rendered as "T" and "ac" in my browser, that are not easily copied/typed.

[2021-05-15 22:39] Chick3nman commented on #2790
Scratch that, no need, I have recreated the issue. The plaintexts contain Cyrillic characters at the start and do not crack properly when using the pure kernel. The do crack properly when using the optimized kernel. This is most likely related to the recent UTF-16LE changes that were made.

Here is the hex representation of the two test plaintexts above:
`D0A23839313334303130323636`
`D0B0D18130363

[2021-05-16 00:47] 0xVavaldi commented on #2790
Seems accurate, I used these as example because they didn't appear cyrillic, but the other examples I have been sent (1k+) almost all contained cyrillic characters and could not be verified by hashcat without the optimized kernel.

Is this intended as part of the optimization process or is it that the unoptimized kernel hasn't been updated yet to reflect the UTF-16LE changes made to the optimized

[2021-05-16 00:51] 0xVavaldi commented on #2788
I noted someone posting a bounty for this on the hashcat forums (good chance you are the same individual), but with limited use cases it will take a while for someone to implement this of their own volition

[2021-05-16 00:54] 0xVavaldi commented on #2741
It seems as though you failed to install OpenCL. It might also be required to reboot the machine after this installation to get it functioning.

[2021-05-16 01:22] Chick3nman commented on #2790
This is not intended as far as i can tell and will likely need to be addressed and fixed.

[2021-05-16 06:23] jsteube commented on #2790
Welcome to the nightmare of encoding issues.

The wordlist has to be stored as UTF8, but your example passwords are not:

5c344d6d31bd69f0df66c30dc40237b2

[code]

[code]

aa8e4c77888e4af09db544e82776f6f2

[code]

[code]

So this sounds weird, but the fact you could crack them before in pure kernel mode was the result of an invalid conversion. It still is for the optimized mode and in theory it sh

[2021-05-16 06:33] jsteube commented on #2790
OK, so the passwords are in iso-8859-15 (next common encoding after utf8). So in order to crack them with hashcat in pure kernel mode you can do:

[code]

From my perspective hashcat works as good as it can. Please close the issue or if you have any ideas how to improve let me know.

[2021-05-16 09:50] 0xVavaldi commented on #2790
--encoding-from iso-8859-15 7417/17087
vs
-O 17087/17087

So there is still a difference in performance overall there that doesn't go quite right. The system is set up to be UTF8 and all files are UTF8. Is there a way to modify the plains so that they can be cracked on the pure kernel (file conversion wise) or is this just what it is, and the hashes itself were generated incorrectly?

[2021-05-16 13:34] jsteube commented on #2790
From performance I guess you don't mean real performance, in terms of H/s because that would totally confuse this issue. So let's stay to what we are discussing and that's the encoding issue of the input words.

Everything depends on how the hashes have been generated, but that doesn't mean they were generated incorrectly. That could have been on a iso-8859-15 basis as with the 7417, but it could

[2021-05-16 15:57] dom96 opened #2791 "--stdout broken on Windows?"
On Windows:

[code]

On WSL:

[code]

Is the OpenCL Runtime fallback not enough for Windows or is something else going on here?
 The version on Windows I am running is v6.2.0 whereas on Ubuntu it's v4.0.1.

[2021-05-16 15:59] 0xVavaldi commented on #2790
I meant in the sense of hashes cracked. The amount isn't the same.
A suggestion was made that these might have originated from troy hunts' NTLM hashes since he didn't properly perform NTLM hashing.

[2021-05-16 16:04] jsteube commented on #2790
Try to see it from a technical perspective. The passwords could have been in all random sort of encoding before troy hunt hashed them using NTLM. It's very unlikely he knew the encoding of every password because each leak comes from a different  site and each different site might have been using a different encoding. Still I don't get how's that connected to a hashcat issue.

[2021-05-16 16:06] jsteube commented on #2791
It shouldn't print that error, that's ugly indeed. You can try using --backend-ignore-cuda as a work around.

[2021-05-16 16:32] jsteube commented on #2791
Fixed with https://github.com/hashcat/hashcat/commit/fe91f6276db5aff017573c38d0d586cd3b8a0525

[2021-05-16 16:32] #2791 closed, assigned to nobody

[2021-05-16 17:53] jj2hh2hasdf commented on #2788
@TheWorkingDeveloper  yeah well I'm paying/tipping for anyone who is interested

[2021-05-16 22:44] 0xVavaldi commented on #2790
The hashcat issue is more the ability to get the hashes with -O and not without. You'd expect both to be able to or neither to be able to get the hashes. That's where the 'issue' resides in that.

[2021-05-16 22:59] 0xVavaldi commented on #2790
[code]
Reference for future cases. This worked for the pure kernel.

[2021-05-16 22:59] #2790 closed, assigned to nobody

[2021-05-17 08:11] philsmd commented on #2752
I've investigated and was able to reproduce this problem locally and I'm now pretty confident that it has to do with `OPTS_TYPE_HASH_SPLIT` that is only used by -m 3000 = LM.

The following section of code in `src/hashes.c` is quite demanding:
https://github.com/hashcat/hashcat/blob/442a95d0ea60d0f63c6d5fe7ce2d96ea247a03e1/src/hashes.c#L1424-L1443

So it would make sense if you, @mubix, would try

[2021-05-17 08:30] philsmd commented on #1279
@AndyNormore yeah that is a valid command , in general one could argue about the best and most clever idea on how to attack it and we probably would come to a final suggestion to use a small to medium sized dictionary/wordlist file (several megabytes of course) with some very specific rules (also a couple of them, hundreds/thousands) to get some amplification/acceleration: see https://hashcat.net/

[2021-05-17 08:39] philsmd commented on #2719
@jsteube I think we can close this issue without any further action/problems. Thanks @magnumripper for letting us know.

[2021-05-17 11:27] jsteube commented on #2752
Indeed this loop is the source of the problem. When I first added it, I never thought of an LM hashlist with that many entries. It is expected that LM hashlists come from a single domain with a limited number of users. The work around you had described works well for me. It is important to note that this is not really a bug as in a software error, it's just not ideally written. After I had waited

[2021-05-17 11:29] jsteube commented on #2719
OK, thanks @magnumripper

[2021-05-17 11:29] #2719 closed, assigned to nobody

[2021-05-17 19:38] jsteube commented on #2679
Is this still required? Otherwise please close this issue.

If you really want to have this (is actually super simple to add a plugin), but please explain the following: Inside the kernel we need to test for something to be true in case the correct key was used. So typically we decrypt some data and then we test some sort of structure or fixed byte stream. In other KPA hash-modes like DES we let t

[2021-05-17 19:46] jsteube commented on #2733
OK, so I just checked the OpenCL specs for OpenCL and it is a hard requirement for the OpenCL runtime to support profiling. You can see here: https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/clCreateCommandQueue.html

There's no valid error return code for CL_PROFILING_INFO_NOT_AVAILABLE. So this is not a hashcat issue. It is a OpenCL runtime issue. In your case a MESA OpenCL runtime

[2021-05-17 19:46] #2733 closed, assigned to nobody

[2021-05-17 19:48] jsteube commented on #2726
OP please update

[2021-05-17 20:08] jsteube commented on #2789
I am a bit confused how @sopsmattw is using the word 'session' here. In hashcat terminology, the session is a single fixed name that does not change no matter which position inside the attack queue we are in. If it's not specified by the user, it is typically just 'hashcat'. Or is it that we are actually talking about sessions and I just don't understand it?

[2021-05-17 20:08] jsteube commented on #2774
OP please update

[2021-05-17 20:22] jsteube commented on #2783
Maybe @brandoncasaba can jump in here?

[2021-05-17 20:23] jsteube commented on #2761
OP please update

[2021-05-17 20:23] jsteube commented on #2758
OP please update

[2021-05-17 20:24] jsteube commented on #2743
OP please update

[2021-05-17 20:31] lhunath commented on #2758
The problem no longer occurs. Still having a hardcoded maximum runtime seems unnecessary when commenting it out allowed me to proceed successfully.

[2021-05-17 20:33] jsteube commented on #2758
But that shouldn't happen anymore because of the refactorization. So this section today is more like a nice hint for us that if it occurs to someone, that we need to fix something we didn't think of.

[2021-05-17 20:35] #2758 closed, assigned to nobody

[2021-05-17 20:35] Chick3nman commented on #2789
It's not talking about sessions. We spoke out of band about this issue and I asked him to make an issue here so i don't forget to do it. Feel free to disregard until i PR.

[2021-05-17 20:37] Chick3nman commented on #2741
This is not a hashcat issue as it appears you have simply selected a VM instance type with no attached GPU. This issue is better suited to the forums if anything, please discuss further there.

[2021-05-17 20:37] sopsmattw commented on #2789
The confusion is likely because I'm wielding terms completely in the wrong way. :) The idea is to mimic the functionality of --runtime but instead running until that timer triggers, skip the current iteration if the Time.Estimated exceeds the passed parameter value.  i.e. if 9 chr brute force is going to take longer than x seconds, skip 9chr altogether.

[2021-05-17 20:39] #2741 closed, assigned to nobody

[2021-05-17 20:43] brandoncasaba commented on #2783
Sure, the algorithm is supported as of Hashcat 6.0.0, but without a salt field. It looks like the newer John implementation lets you override the salt, but the default behavior is for the salt to be "realm.user" (or domain.user) which are already supplied values. This is actually the only thing the supplied realm/username fields are used for. This concatenated salt behavior is assumed and not conf

[2021-05-17 20:45] jsteube commented on #2789
Yeah I got that, it's a nice idea.

@Chick3nman I think the easiest way would be to call the function which is called in case the user asks for bypass from command prompt or mimic it. We need to stick close to this because there are some details in regards to return codes on the shell which H2P checks, for instance. Also the ETA shouldn't be checked before the first checkpoint was reached. Probabl

[2021-05-17 20:47] jsteube commented on #2783
I see, so it's a pure change only in the module, not the kernel?

[2021-05-17 20:50] Chick3nman commented on #2789
Yeah, the plan was to wait for a timer or checkpoint to allow speeds to stabilize, check the estimated time, and then issue bypass if the time is too long. Should be very easy to do, i just haven't had a chance to do it since friday.

[2021-05-17 20:53] brandoncasaba commented on #2783
Correct, this is where the salt, in this case it looks like the variable name is "account_info" is put together.
https://github.com/hashcat/hashcat/blob/master/src/modules/module_19900.c#L149-L176

[2021-05-17 21:10] jsteube commented on #2783
I think that's not so complicated task then.

1. The difficulty would be to have a branch to decide which decoding path to go in the module, because in the end we want to support both input formats. Having two decoding paths in combination with input_tokenizer is no magic and it wouldn't be the first time we do this. A nice example on how to do this is `src/modules/module_09800.c`.
2.  We will als

[2021-05-17 21:16] JasonMalik commented on #2783
I have never worked on Hashcat, I am an end user, but if there is anything I can to to help I will gladly do it.

[2021-05-17 21:23] jsteube commented on #2738
I just took a look at this. What's a bit problematic is that this hash seems to have many different implementation with only slight differences. So I don't know which one to implement actually.

From the page which @korenkonder linked there's a little snippet in which is does this:

[code]

So I went to find a perl module in order to prepare the unit tasks and found  Digest::MurmurHash. If you tak

[2021-05-17 21:48] brandoncasaba commented on #2783
I can take a look this evening, I don't imagine the LOE would be more than a couple hours with testing.

Do you have samples w/ an included salt? It looks like the salt is a standard character array, not a hex encoded byte array. Is that correct?

I went back and looked to mode 7500 which is the old RC4 Kerberos Pre-auth and it looks like it requires a salt value, but it also takes a user/realm an

[2021-05-17 21:56] jsteube commented on #2783
I don't have any real world example. @JasonMalik can you provide the samples?

[2021-05-17 22:36] korenkonder commented on #2738
This algorythm is used in games that I interested in:

PCSB00554 is version of game for PS Vita. Arch is ARMv7 with Thumb and NEON. Function offset is 0x814D7A9C
PCSB01007 is also for PS Vita. Arch is same. Function offset is 0x8134C304

In game it's used for hashing strings for faster access to some. But some strings can't be found in any file but their hashes are here. I wanted to recover some o

[2021-05-18 00:11] bigfella237 commented on #2679
Yes it's still required, please don't close this issue!

I don't have examples for the padded key search that @roccomuso was talking about, but I posted a verified data set a few posts above for a simple brute force attack...

[2021-05-18 09:00] jsteube commented on #2738
OK, support was added with commit https://github.com/hashcat/hashcat/commit/aa7c579736c4f1cd5e3fdb3b15df31c184e56ce2

Note that you have to uppercase the candidates yourself. It's not clever to convert them inside the kernel and in case there's a MurmurHash implementation somewhere that does not automatically uppercase, it wouldn't be able to crack. For automation with wordlists you can use comman

[2021-05-18 09:00] #2738 closed, assigned to nobody

[2021-05-18 09:04] jsteube commented on #2738
Speed on RTX2080Ti: 268.9 GH/s !!!

[code]

[2021-05-18 09:06] jsteube commented on #2738
I've also put binary beta in case someone want to try without waiting for release hashcat.net/beta

[2021-05-18 15:42] oschoudhury opened #2792 "TOTP cracking stops at status cracked instead of status exhausted"
Hi,

I am trying to perform the TOTP cracking with hashcat mode 18100 with. This is a bit of a unique algorithm if I understood correctly in the sense that there can be multiple solutions and you need to enter multiple OTP codes from the same source and then see if any of the solutions are then duplicate. The author who wrote this module has a blog post at [here](https://www.unix-ninja.com/p/attac

[2021-05-18 17:17] jsteube commented on #2792
Yes, it has changed. And there's a big fat warning message about, but in your paste you had it removed. Why?

[code]

Therefore I'll close the issue.

[2021-05-18 17:17] #2792 closed, assigned to nobody

[2021-05-18 17:53] oschoudhury commented on #2792
Ah, my bad. I didn't think of looking there for additional warnings as in my case it is already filled with CUDA related warnings. Hence why I cut it here too. Thanks for answering quickly!

[2021-05-19 05:52] jsteube commented on #2608
OP still around? Please retry with latest AMD driver and report the -I output

[2021-05-19 06:33] jsteube commented on #2696
As discussed, implemented with commit https://github.com/hashcat/hashcat/commit/58ffef45804777ca6e8f3a6e4f8511f43ca71e88

[2021-05-19 06:33] #2696 closed, assigned to nobody

[2021-05-19 06:38] jsteube commented on #1965
Please explain with a simple example and some hex dumps. Did you see the update from true conversion from UTF8 to UTF16?

[2021-05-19 06:42] jsteube commented on #2718
OK, with latest version of hashcat on GitHub master or hashcat v6.2.0 release version there's an option in src/Makefile to set ENABLE_UNRAR to 0 if the user wishes to do so. Since this compile error comes from unrar sources, this should help you with the compile error, too.

Please retry by either settings ENABLE_UNRAR to zero in src/Makefile to do run "ENABLE_UNRAR=0 make" instead of just "make"

[2021-05-19 06:42] jsteube commented on #2717
Where is this algorithm used in?

[2021-05-19 07:15] standyyyy commented on #2743
Sorry, I've been busy lately and forgot to check your reply , please let me know what information or files you need from me, or system version, environment or whatever.

[2021-05-19 07:27] jsteube commented on #2743
I need every Information so that I can reproduce locally. Think of as you being a developer of application XY and someone sends you a bug report, what would you expect from him to report to you.

Before you going to collect everything make sure you have updated all your drivers to the latest version. There's also a new hashcat version.

[2021-05-19 13:29] realSnoopy opened #2793 "module 13400 # line 131 token.len_max[2] = 8; -> token.len_max[2] = 10 # max length of an u32, manually chosen iterations count"
see this thread
https://hashcat.net/forum/thread-10116.html

the user used a manually tuned iterations count, resulting in an token length exception because his iterationscount was of length 9
maximum supported length should be length of u32, so 10

maybe this also applies to other modules /hashes where the user can set a manually chosen iterations count (PIM in veracrypt or something similar)

[2021-05-19 21:05] #2793 closed, assigned to nobody

[2021-05-19 21:05] realSnoopy commented on #2793
see pull request

[2021-05-20 07:30] JuraGHH commented on #2774
It could be an issue with the number of hashes you trying to crack, I just run one crack with 230GB uncompressed wordlist.

[2021-05-20 14:51] ElDavoo commented on #929
Signing up, giving a thumbs up, necroposting and letting you know that someone actually bothered to implement it here https://github.com/hashcat/hashcat/pull/2739/commits/59b4a37355b10f7d15edd71f9c59f57651944972 , but for versions 1.4 - 1.6

[2021-05-20 19:19] modelkayak commented on #929
Doing the computer god's work. Thanks for the heads up.

[2021-05-20 19:19] #929 closed, assigned to nobody

[2021-05-20 21:12] ElDavoo commented on #929
I don't think the issue should be closed, though. The issue is about pdf v1.1-pdfv1.3, but the pull request is about 1.4-1.6, which is different.

[2021-05-23 11:10] NilsOlze opened #2796 "M 23800 (RAR3-p compressed) Kernel Self-Test Failure"
Hi, I recently wanted to use Mode 23800, but ran into a Kernel Self-Test Failure when trying to crack the Hash I extracted. To figure out, whether my Hash was somehow odd, I also tried the example hash built into hashcat. This also gave me this Failure, with the following command, which I used on Setting 1 (See below):

Command 1:
hashcat -m 23800 -a 3 [example-hash in text file] hash?a?a?a

So I

[2021-05-23 11:25] jsteube commented on #2796
You're lucky, I have exactly the same setting for testing. But it never occurs.

Same hashcat version, driver version, sdk version, GPU itself and windows version.

[code]

Maybe delete kernels/ folder. It's possible there's an old cached kernel.

Can you post hashcat -I output, too?

[2021-05-23 11:40] jsteube commented on #2796
Update: I can reproduce the issue on Windows if I add --backend-ignore-cuda

But it's windows only. On Linux it works fine!

[2021-05-23 11:46] jsteube commented on #2796
Update: I cannot reproduce this on windows if only the Intel OpenCL runtime is involved. Please try again with -D1 (make sure to capitalize). It seems its an NVIDIA only OpenCL problem but only on Windows.

[2021-05-23 14:53] NilsOlze commented on #2796
Thanks for the quick response.

The Threadripper System which I tried with Intel OpenCL Runtime is on my work, where I don't have remote access to. To be clear: this was a different system than the one with the 2080 Ti. The GPU in this Threadripper system is a Quadro P620 with Nvidias Studio Driver installed (can't remember the version from the top of my head, but also not older than a month), but

[2021-05-23 15:21] Nycz-lab opened #2798 "Cant start hashcat because of unsupported ptx version"
Hashcat keeps on crashing on me when i run it.
I built hashcat from source and i am using the latest manjaro version.
![hashcat_error](https://user-images.githubusercontent.com/63111944/119266489-543e2680-bbeb-11eb-966c-dbe03ae979a4.png)
![nvidia--smi](https://user-images.githubusercontent.com/63111944/119266495-57391700-bbeb-11eb-9b9f-e4e4c035597e.png)

[2021-05-23 15:23] jsteube commented on #2798
User error. Please update to latest CUDA SDK.

[2021-05-23 15:23] #2798 closed, assigned to nobody

[2021-05-23 16:20] jsteube commented on #2796
Can you test with --hook-threads 1

[2021-05-23 21:14] keybreak opened #2799 "[Linux - Manjaro] the provided PTX was compiled with an unsupported toolchain"
**Describe the bug**
[code]

**Hardware/Compute device (please complete the following information):**
- Compute device name: GeForce GTX TITAN X (GM200)
- OpenCL/CUDA driver name: NVIDIA DRIVER
- OpenCL/CUDA driver version: 460.80
- OpenCL/CUDA driver source:  repository

**Hashcat version (please complete the following information):**
 - OS: Linux
 - Distribution: Manjaro
 - Version 6.2.1+46+g3fa

[2021-05-24 08:36] jsteube commented on #2799
Not a hashcat error. You need to update CUDA SDK.

[2021-05-24 08:36] #2799 closed, assigned to nobody

[2021-05-24 08:39] keybreak commented on #2799
@jsteube
But it's latest available on Manjaro Stable (`cuda 11.3.0`), where could one update it further?

[2021-05-24 08:48] jsteube commented on #2799
Do not use the distribution provided CUDA SDK, because it breaks compatibility by not using the correct driver. This is a problem in your linux distribution package, not hashcat.

For CUDA 11.3 you need driver 465.19.01, see Table 2 here: https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html

CUDA Toolkit | Toolkit Driver Version
-- | --

CUDA 11.3.1 Update 1 | &gt;=465.19.01 | &gt;=4

[2021-05-24 09:10] NilsOlze commented on #2796
Will do for sure at work. For my home setting, it doesn't make a difference.

BTW: Is it intended / normal, that the OpenCL Backend of NVIDIA is no longer displayed in hashcat -I when CUDA and Intel OpenCL Runtime are installed? Guess that's something NVIDIA does, as they want CUDA to be preferred over OpenCL. But it's really awkward to see the NVIDIA OpenCL Backend just disappear in Hashcat, afte

[2021-05-24 09:34] jsteube commented on #2796
Could you please rephrase? I have 1. the NV OpenCL runtime from the NV driver and 2. CUDA from CUDA SDK and and 3. Intel OpenCL runtime from Intel OpenCL driver. So with hashcat -I I see 3 devices. Is this different for you?

[2021-05-24 15:15] NilsOlze commented on #2796
Yes, I don't see the NV OpenCL runtime from the NV driver. Here are my hashcat -I results:

Intel OpenCL and CUDA installed
Command: hashcat -I

hashcat (v6.2.1) starting...

CUDA Info:
\==========

CUDA.Version.: 11.3

Backend Device ID #1
  Name...........: NVIDIA GeForce RTX 2070 SUPER
  Processor(s)...: 40
  Clock..........: 1815
  Memory.Total...: 8192 MB
  Memory.Free....: 7153 MB

OpenCL In

[2021-05-24 15:45] jsteube commented on #2796
OK, this is a problem with your driver installation and is not related to the -m 23800 issue. Is also not a hashcat problem.

[2021-05-24 15:51] jsteube commented on #2796
The -m 23800 issue remains. After hours of debugging it boils down to the unrar sources. It seems they are not multi thread compatible. For testing purpose, here's a proof of concept code:

[code]

The expected output should be always the same ` 00000065 ce644083`, but is not. Instead it gives:

[code]

The order is purely random. Sometime one has to run the poc multiple times to occur. This poc w

[2021-05-24 15:51] #2796 closed, assigned to nobody

[2021-05-24 15:52] jsteube commented on #2796
deactivated with https://github.com/hashcat/hashcat/commit/32aa347e6679ac1d7029b9e0408a4b1e7f076b65

[2021-05-24 17:04] NilsOlze commented on #2796
Alright, thanks again for your hard work! :)

[2021-05-25 05:55] mohemiv commented on #2774
I've tried to reproduce this using different wordlists (inc. larger wordlists), and it looks like the issue is in this exact wordlist, and not in RAM, GPUs, other hardware, or the hash list. I will let you know if I discover what's wrong with this wordlist, may be there are some binary lines which are causing this error in it, or something similar.

[2021-05-25 06:34] jsteube commented on #2774
That's exactly what I was thinking and why I was asking to use split command to split into pieces. Best way to find is to divide by two, the find the one which causes the error, split this again by two, and so on. wc -l and split -l are your friends.

[2021-05-26 22:59] willcrozi opened #2801 "FR: Add a way to flush partial dictionary buffer in 'stdin' mode"
Proposal is for a new command line option, `--stdin-timeout-flush=x` that when set to a non-zero value will cause partial input buffers to be submitted for cracking when no new input has been seen for `x` seconds. The default value of `0` would have the normal previous behaviour of only submitting partial buffer contents when `stdin` handle is closed causing an `EOF`.

Normally, in `stdin` mode, `

[2021-05-27 07:26] jsteube commented on #2796
Update:

Together with @philsmd we found (very likely) the root of the problem in unrar code and added a work around with commit https://github.com/hashcat/hashcat/commit/9ca94a2a3681baa61698013b17ca970085969c65

Please retry :)

[2021-05-28 04:06] aspiringpentester1 opened #2802 "I am asking kindly to add a new bruteforcing mask feature developers of hashcat :)"
hello hash cat developers i have to say that u did a very good job of creating hashcat and i am very appreciative that there is a tool like this today in my era but i have one slight request in masks. I know that i can use all character set by using ?a but what if i wanted to bruteforce using all character set inclusive of : 0-9, a-z, A-Z. You get what i mean, if i could code i would at it to the

[2021-05-28 04:25] roycewilliams commented on #2802
This is a question more for the [hashcat forums](https://hashcat.net/forum/). This is possible using the existing hashcat feature set.

[2021-05-28 06:50] #2802 closed, assigned to nobody

[2021-05-29 08:44] NilsOlze commented on #2796
Tested with pre-compiled beta from hashcat.net/beta as of 28-05, everything appears to work now, thanks again :)

[2021-05-29 09:40] jsteube commented on #2801
Looks good, we can merge this if you send a PR. There's two issues that should be fixed before.

---

[code]

This will fail on windows. Please replace with PRIu64 macro.

---

There's a logic error with abort trigger. After flush occurs the abort trigger timeout will never trigger anymore. I can foresee this is kind of the logic you want to have in your environment with the boss/worker structure,

[2021-05-30 06:05] willcrozi commented on #2801
Thanks for the feedback!

I have the fixes for the formatting macro and parameter check ready for a pull request.

-----

I'm struggling to determine the correct way to handle the interaction with `--stdin-timeout-abort` here.

Specifically, in `monitor.c` we have a check on the progress that cancels the abort if progress is greater than zero. This was introduced in d412333. Wouldn't we need to re

[2021-05-30 12:24] jsteube commented on #2801
I think we can leave it as it is and update the --help message description. Feel free to send in the PR.

[2021-05-30 22:34] jakubpalacz commented on #2743
I have the same problem. Any solution ?

[2021-05-31 10:15] jakubpalacz commented on #2743
I installed cuda, that fixed problem.

[2021-06-01 19:41] jsteube commented on #2636
PR was merged. The mode is now part of GitHub master and following releases.

[2021-06-01 19:41] #2636 closed, assigned to nobody

[2021-06-01 21:11] tinyboxvk commented on #2689
I can confirm this works. The latest version of OpenCL Runtime can be downloaded here:
https://www.intel.com/content/www/us/en/developer/tools/opencl-cpu-runtime/overview.html

[2021-06-02 07:40] willcrozi commented on #2801
I've run into a problem with this feature, at least on my Linux system (Ubuntu 20.04 x86_64).

It seems that `libc`'s buffering policy for pipes that are not connected to a TTY  causes some passwords to sit in `stdin` with `select()` only returning non-zero when more input is received or the pipe is closed. Here's a [decent writeup of the issue](http://www.pixelbeat.org/programming/stdio_buffering

[2021-06-02 09:09] jsteube commented on #2801
That seems doable for Linux, but the userbase actually is like 1/3 Linux, 1/3 Windows and 1/3 MacOS. If you want to do this change you need to find a solution for the other OS, too. Alternatively disable this feature for other OS, but that's something like the very last thing to consider and we should avoid.

I think performance is not really the problem here, because from how I understand from yo

[2021-06-02 17:01] jsteube commented on #600
Support for SQLCipher was added with v6.2.0

[2021-06-02 17:01] #600 closed, assigned to nobody

[2021-06-02 17:02] jsteube commented on #1730
Support was added to hashcat GitHub master and will be part of the next release version.

[2021-06-02 17:02] #1730 closed, assigned to nobody

[2021-06-02 17:18] jsteube commented on #2437
While this is actually a bug from technical perspective, it's triggered by a previous bug which was caused by the user.

It wont happen with real hashes and an external 3rd party script could fix it, if that is really necessary. And that tool actually exists, it's tools/test.pl.

Here's how to use it:

[code]

So instead of crack you'd use the potfile. You can use cut -d: to produce the hashfile o

[2021-06-02 17:18] #2437 closed, assigned to nobody

[2021-06-02 17:20] jsteube commented on #2401
We need to wait for @matrix to fix the issue described in the comments of the PR. If they are fixed we can merge it.

[2021-06-02 17:21] #2335 closed, assigned to nobody

[2021-06-02 17:24] jsteube commented on #2324
Nope, didn't try. I think all you need already exist in some other kernels and you can simply copy out the data from it. If you have any question feel free to drop by in IRC so we can discuss interactive.

[2021-06-02 17:25] jsteube commented on #2212
Support was added with v6.2.0

[2021-06-02 17:25] #2212 closed, assigned to nobody

[2021-06-02 17:28] #2608 closed, assigned to nobody

[2021-06-02 17:31] #2601 closed, assigned to nobody

[2021-06-02 17:49] jsteube commented on #2600
Thanks for reporting! Fixed with commit https://github.com/hashcat/hashcat/commit/2f99ea8595cc8fa946be4652bce69b29757355e7

[2021-06-02 17:49] #2600 closed, assigned to nobody

[2021-06-02 17:51] jsteube commented on #2595
Fix was merged

[2021-06-02 17:51] #2595 closed, assigned to nobody

[2021-06-02 18:04] jsteube commented on #2566
With the added support of true UTF8 to UTF16 conversion we now have support for this kind of wordlist. However, this is applied for all slow-hash kernel types and for fast-hash kernel types in pure kernel mode. It is not applied in fast-hash kernel type if in optimized kernel mode.

Actually I think now this message makes even more sense. It's very unlikely users that rarely use hashcat know about

[2021-06-02 18:12] jsteube commented on #2560
I like @philsmd suggestion and it's easy to update. While not directly related it still is a problem that hashcat -I will show that CUDA library is installed and maybe lead to the same confusion as with the "Successfully initialized NVIDIA CUDA library." message. But I don't think we can do anything here. Please send in a PR.

[2021-06-02 20:32] roycewilliams commented on #2566
Yep, that totally makes sense. Hot take: if there are a few _easy_ ways to detect multibyte, they could be added and throw the warning, and assume that a few false positives are possible, and let the warning in limits.txt cover the rest.

[2021-06-03 05:59] jsteube commented on #1355
Support merged into master, thanks @trounce1 for the contribution.

[2021-06-03 05:59] #1355 closed, assigned to nobody

[2021-06-03 05:59] jsteube commented on #322
Support merged into master, thanks @trounce1 for the contribution.

[2021-06-03 05:59] #322 closed, assigned to nobody

[2021-06-03 07:20] willcrozi commented on #2801
`setvbuf` is available on all these platforms via `stdio.h` so I'll some testing to determine if Windows and MacOS require the same treatment. It may take a while to get these done.

For now I'm using a quick and dirty test consisting of a modified version of hashcat with the call to `add_pw()` disabled. My first impression is that that impact of just naively adding `setvbuf(stdin, NULL, _IONBF, 0

[2021-06-03 12:36] bpdevries1 opened #2803 "Inline kdb 1 files are limited in size"
**Describe the bug**
Although size of the inline Keepass database version 1 was enlarged previously in Issue [1415](https://github.com/hashcat/hashcat/issues/1415)  it still isn't large enough for sizable keepass databases. In this case a database of 1.5 MB was found. But this cannot be cracked it seems.

**To Reproduce**
Try cracking a 1.5 MB Keepass 1 database.

**Expected behavior**
Please make

[2021-06-03 18:38] jsteube commented on #2803
Please provide the .kdb file so that we can reproduce the problem locally. If you do not want to share the original kdb, create an artifical one yourself and see if the problem can be reproduced with that one. Then provide it here.

[2021-06-03 18:39] jsteube commented on #2801
Any performance improvements are very welcome

[2021-06-03 18:42] jsteube commented on #2761
No response from OP, therefore closing. Feel free to reopen if needed.

[2021-06-03 18:42] #2761 closed, assigned to nobody

[2021-06-03 18:45] jsteube commented on #2752
No response from OP, therefore closing. Feel free to reopen with comments or to send in PR with improvements.

[2021-06-03 18:45] #2752 closed, assigned to nobody

[2021-06-03 18:46] jsteube commented on #2743
I don't see how CUDA will do anything to help a problem with AMD drivers. CUDA is for NV only. Still waiting for @standyyyy to report back with new information.

[2021-06-03 18:49] #2736 closed, assigned to nobody

[2021-06-03 18:50] #2735 closed, assigned to nobody

[2021-06-03 18:52] jsteube commented on #2732
The original question was answered. If there's a new one, please create a new issue using the new issue template.

[2021-06-03 18:52] #2732 closed, assigned to nobody

[2021-06-03 18:55] jsteube commented on #2730
Thanks for the update.

[2021-06-03 18:55] #2730 closed, assigned to nobody

[2021-06-03 18:59] jsteube commented on #2728
With -D1 you enable the CPU

[code]

On macOS the default is set to CPU only but can be overwritten by using -D 2 to make use of the GPU.

[2021-06-03 18:59] #2728 closed, assigned to nobody

[2021-06-03 19:00] #2727 closed, assigned to nobody

[2021-06-03 19:05] jsteube commented on #2726
No response from OP, plus I can't reproduce locally:

[code]

Feel free to reopen with all files  I need to reproduce locally.

[2021-06-03 19:06] jsteube commented on #2725
No response from OP, not added files to reproduce locally, plus oudated hashcat version. Feel free to reopen and update with files to reproduce locally.

[2021-06-03 19:06] #2725 closed, assigned to nobody

[2021-06-03 19:07] jsteube commented on #2722
No response from OP, therefore closing. Feel free to reopen.

[2021-06-03 19:07] #2722 closed, assigned to nobody

[2021-06-03 19:08] jsteube commented on #2718
No response from OP, therefore closing. Feel free to reopen and update with new information.

[2021-06-03 19:08] #2718 closed, assigned to nobody

[2021-06-03 19:09] jsteube commented on #2717
No response from OP, therefore closing. Feel free to reopen with updated information.

[2021-06-03 19:09] #2717 closed, assigned to nobody

[2021-06-03 20:24] jsteube commented on #2704
I really have a hard time reproducing this. The problem is that the lock is only active while the file is written and that is typically a very short time. So a second hashcat process would lock the hashfile only if it write to it in remove mode. So I used flock to lock the hashfile shortly after the hashcat process with --remove was started, but before it was actually cracking something. But then

[2021-06-03 20:25] jsteube commented on #2692
OK, thanks for update!

[2021-06-03 20:25] #2692 closed, assigned to nobody

[2021-06-03 20:26] jsteube commented on #2689
Thanks for update, indeed that's the way to go.

[2021-06-03 20:26] #2689 closed, assigned to nobody

[2021-06-03 20:30] jsteube commented on #2673
so basically sha256hmac (sha1(salt2).pass, salt1)

[2021-06-03 20:32] jsteube commented on #2632
Fixed with v6.2.0 release

[2021-06-03 20:32] #2632 closed, assigned to nobody

[2021-06-03 20:34] jsteube commented on #2682
The patch should be ok, you probably just forgot to delete the cached kernel. Feel free to reopen if that did not fix the issue.

[2021-06-03 20:34] #2682 closed, assigned to nobody

[2021-06-03 20:38] jsteube commented on #2678
I think running multiple hashcat instance in parallel is not a problem, even on the same device! But you need to make sure to set the --session parameter, that should also fix your pidfile issue. Please let me know if that fixed the problem.

[2021-06-03 20:41] jsteube commented on #2670
It's not possible because the final keyspace is unknown. So this will work only in stdin mode. I recommend using maskprocessor using -r and then pipe this to hashcat.

[2021-06-03 20:41] #2670 closed, assigned to nobody

[2021-06-03 20:42] jsteube commented on #2688
That was always possible. You can use stacked rules with rules/hybrid rules.

[2021-06-03 20:42] #2688 closed, assigned to nobody

[2021-06-03 20:44] #2687 closed, assigned to nobody

[2021-06-03 20:49] jsteube commented on #2679
@roccomuso KPA attacks in hashcat are always fixed to the key size exactly. So we can make this works, but you'd need to pad the passwords yourself. That ok for you?

[2021-06-03 20:53] Shooter3k commented on #2704
I'm running Windows 10 with multiple copies of hashcat (in multiple folders). This happens when I run two hashcats against the same hashfile at the same time. If I open the hashfile in ultraedit at the same time as the 2 hashcat's are running, it only makes it worse.

Does that help?

[2021-06-03 21:44] cagdasb commented on #2673
In that particular huge hash list
Hash format was:
Hash:NumericSalt
There is also StaticSalt is needed to crack
Algorithm is as you told
sha256hmac (sha1(NumericSalt).pass, StaticSalt)

I cracked by converting that numeric salt to sha1(numericsalt)
Converted Hash list to Hash:StaticSalt
hashcat -a1 - m1460 [hash:staticsalt]. txt [sha1(numericsalt)].txt
wordlist.txt

I would be glad if you can make

[2021-06-04 00:05] soxrok2212 commented on #2392
Hoping to bring more attention to this. I've tested on 6.1.1 and 6.2.0 and seen some odd results.
I have:

- list with ~400,000 words
- hybrid append (-a 6) of length 1-4

when doing `... -a 6 list.txt ?a?a ...` all is fine, however when appending anything more than 2, speeds slow to about 1/5 of expected, `... -a 6 list.txt ?a?a?a ...` for example

Testing done with latest CUDA drivers on GTX 970

[2021-06-04 01:55] roycewilliams commented on #2632
What was the issue / fix ?

[2021-06-04 06:00] jsteube commented on #2632
- CUDA Backend: Use blocking events to avoid 100% CPU core usage (per GPU)

[2021-06-04 06:03] jsteube commented on #2392
instead of -a 6 ?a?a?a you can do:

[code]

[2021-06-04 06:13] jsteube commented on #2538
PR was marged to master repository

[2021-06-04 06:13] #2538 closed, assigned to nobody

[2021-06-04 07:24] jsteube commented on #2704
I started to write an external script just to get the file locked on windows

[code]

I think I have a suspect for the problem, which is in src/monitor.c when remove feature takes action:

[code]

So in case of error (permission denied) it returns the entire monitor thread. This thread is responsible for writing the remove hashfile, but also the restore file and some other stuff stuff like tempera

[2021-06-04 07:49] jsteube commented on #2704
OK, this should be fixed with commit https://github.com/hashcat/hashcat/commit/918a621506249213eed7fe06af5dd097b69b2f66

Thanks for reporting!

[2021-06-04 07:49] #2704 closed, assigned to Shooter3k

[2021-06-04 14:23] #2676 closed, assigned to nobody

[2021-06-04 14:26] jsteube commented on #2660
I'm not 100% certain but I think you need to use PCI 3.0 slots in order to use rocm. Please use the legacy drivers instead, at least they work for my RC480. However, this is not an issue for GitHub which is for bugs and feature requests only. Please use hashcat forums.

[2021-06-04 14:26] #2660 closed, assigned to nobody

[2021-06-04 14:28] jsteube commented on #2643
All you need to do is to add these lines to the module and recompile:

[code]

[2021-06-04 14:28] #2643 closed, assigned to nobody

[2021-06-04 14:29] jsteube commented on #2641
GitHub issues are for bugs and feature requests. Please use hashcat forums instead.

[2021-06-04 14:29] #2641 closed, assigned to nobody

[2021-06-04 14:30] jsteube commented on #2640
Feel free to send in a PR. I think none of the developer uses macOS except @matrix so we have no experience to write it.

[2021-06-04 14:31] #2634 closed, assigned to nobody

[2021-06-04 17:43] jsteube commented on #2633
Double post

[2021-06-04 17:43] #2633 closed, assigned to nobody

[2021-06-04 17:59] jsteube commented on #2631
Is not possible. The general reason why we can do something like brain server goes back to slow candidate modes. So we need to generate the candidates on the host and send them via PCI-e to compute device and that's what's causing the slow down. The brain server could easily handle it otherwise:

https://hashcat.net/wiki/doku.php?id=frequently_asked_questions#does_the_pci-express_speed_have_any_in

[2021-06-04 17:59] #2631 closed, assigned to nobody

[2021-06-04 18:04] #2630 closed, assigned to nobody

[2021-06-04 19:20] soxrok2212 commented on #2392
I'll give that a shot... but it leaves me to suggest that if there's a workaround and inconsistencies, there must be a bug then, too... no?

[2021-06-04 19:22] jsteube commented on #2392
No it's just that you missed an existing opportunity.

[2021-06-04 19:47] soxrok2212 commented on #2392
FWIW, still seems to be performing about 10-20% slower than expected when using rules instead of a mask. Utilization on the GPU shows 100%, but its a bit slower. Maybe there's a bottleneck somewhere else now.

[2021-06-04 21:56] jsteube commented on #2392
Well there's not really a bottleneck. Applying rules just takes a bit of time, because there's more branching involved than using binary instructions on register level. It is however more forgiving when it comes to underutilization and therefore a good alternative that comes with trade off.

[2021-06-05 06:32] willcrozi commented on #2801
Looking into this further, I think I'll need to perform non-blocking IO on `stdin` after all.

This can be achieved with a call to `fnctl()`(POSIX API), which is available on Linux and MacOS. I'm also thinking it _should_ work fine on all the Windows targets listed in `src/Makefile` (i.e. WSL, MSYS2, and Cygwin).

The doubt I have is that there's some `_WIN` defines dotted around in some files tha

[2021-06-05 10:02] jsteube commented on #2629
Thank you for the comprehensive description. From my perspective everything works as it should.

One need to understand that hashcat can only save the progress in case all password candidates from a workload chunk were processed in full. In this mode 13711 (and without a user defined pim) that means that hashcat needs to reach KDF iteration 655331 in order to save it. But from your screenshot it's

[2021-06-05 10:02] #2629 closed, assigned to nobody

[2021-06-05 10:48] jsteube commented on #2620
SolarWinds Orion v2 was added with v6.2.0

[2021-06-05 10:48] #2620 closed, assigned to nobody

[2021-06-05 10:58] jsteube commented on #2627
Not a hashcat problem, is a driver problem. GitHub issues are for bugs and feature requests only.

[2021-06-05 10:58] #2627 closed, assigned to nobody

[2021-06-05 11:26] jsteube commented on #2619
use tools/test.pl in passthrough mode

[2021-06-05 11:26] #2619 closed, assigned to nobody

[2021-06-05 16:48] jsteube commented on #2801
I have the same problem and yeah, WSL, MSYS and Cygwin should be fine. Well and of course the native windows target.

[2021-06-05 17:15] willcrozi commented on #2801
This is what I was getting at. I can't find any references to creating a native Windows build, only the BUILD.md files for WSL, MSYS, and Cygwin. Are you able to shed any light on how this would be done? I would've thought a .vsproj file or similar would be required.

[2021-06-05 18:15] jsteube commented on #2801
I see. There's no need for VS. We use mingw to cross compile the native windows binaries. If you follow the BUILD_WSL.md what you're actually building is a native windows binary that you can start either from cmd.exe or from inside WSL.

[2021-06-06 07:04] standyyyy commented on #2743
I'm very sorry, but now I have time to continue to give feedback.
Before giving feedback, I pulled down the latest 6.2.1 to try, and it still has the same error
![微信图片_20210606145526](https://user-images.githubusercontent.com/39285732/120915694-c3ca1080-c6d7-11eb-868c-6b86646f1b15.png)
Let me talk about the computer configuration first:
System used：windows10
cpu：amd 2700x
GPU：vega56
Use hashcat -I

[2021-06-06 08:30] jsteube commented on #2743
OK, thanks for clarification. This is clearly an AMD driver problem. This is not a hashcat problem. There's nothing we can do.

AMD drivers are very bad for OpenCL. They work with simple OpenCL code, but with complex OpenCL code it fails. The only way to get it working is to switch to ROCm drivers, which is much better. But ROCm exists for Linux only, so you need to switch to Linux to use hashcat

[2021-06-06 08:30] #2743 closed, assigned to standyyyy

[2021-06-06 08:51] #2439 closed, assigned to nobody

[2021-06-06 10:14] sectroyer commented on #2726
I think the value that is calculated is dependent on number of hashes cracked. Now I am getting 2600 years for this command:
 ./hashcat.bin -w3 -n32 --force -O -m 1500 ./tmp/sort_cameras.pwd -a3 -l 1104495 -s 0 -1 ?l?d -2 'abcdefghijklmn' '?2?1?1?1?1?1?u?u' --session=./sessions/dc_brute_des_hashcat_1 --user
ETA:
`Time.Estimated...: Thu Dec 21 13:06:56 4643, (2622 years, 197 days)  `

Here are hash

[2021-06-07 08:08] jsteube commented on #2726
Thanks for the update. I can't reproduce locally:

Vega64:

[code]

CPU:

[code]

Are you using latest hashcat version?

[2021-06-07 15:45] roccomuso commented on #2679
yes

[2021-06-07 19:37] sadreck opened #2811 "Feature Request: Add "auto detect only" functionality for hashes"
Hi,

**Background**
This feature request is coming from this tweet: https://twitter.com/hashcat/status/1401612748115566603

**Current Functionality**
The way this has been implemented is that it's part of the cracking process, which means that it will kick off the session if it detects a single match, or otherwise it will prompt the user to select a type and then continue with the cracking.

**Fea

[2021-06-07 19:54] Chick3nman commented on #2811
We currently have a flag, added somewhat recently, call `--hash-info` that prints out a great little set of information about a hash type, specified with `-m`. I'm going to look at implementing this such that if you do not specify `-m` but do specify a hash or hash file, the parser runs and then prints out the same hash information for the detected hash type(s).

[2021-06-07 19:58] Chick3nman commented on #2811
An example of the `--hash-info` output looks like this:

[code]

[2021-06-07 23:58] ventaquil commented on #2678
Few quick tests return valid results so it seems that you are right @jsteube, thank you!

It looks like I had some bugs before because as far as I remember I have tried to deal with sessions.

[2021-06-07 23:58] #2678 closed, assigned to ventaquil

[2021-06-08 00:01] ventaquil commented on #2611
@jsteube what do you think about creating some `brain_ctx_t` struct with brain-specified options (at least `enabled: bool` field)?

It's difficult to handle it when Hashcat is used as a library because `hashcat_ctx_t` struct has different sizes depending on compilation flags.

[2021-06-08 14:18] duckstroms opened #2812 "Feature Request: Add "Bcrypt Hash""
redacted

[2021-06-08 14:21] #2812 closed, assigned to nobody

[2021-06-08 14:31] jsteube commented on #2611
Yeah, it makes sense. The question is the exact way how to do it.

[2021-06-09 06:37] ventaquil opened #2813 "Cannot benchmark PKZIP 17220 17225 modules on GeForce RTX 3080 by using CUDA backend"
**Describe the bug**
Cannot benchmark PKZIP modules on GeForce RTX 3080 by using CUDA backend.
Affected modules:
* 17220,
* 17225\.

**To Reproduce**
1. Download latest Hashcat from GitHub.
2. Compile.
3. Run benchmark of PKZIP 17220 or 17225 modules.
4. See an error.

**Expected behavior**
Successful benchmark execution.

**Hardware/Compute device (please complete the following information):**
-

[2021-06-09 07:42] ventaquil commented on #2813
Each version since v6.0.0 failed.

[2021-06-09 08:25] jsteube commented on #2813
Thanks for the report.  I tried to reproduce on my GTX980:

Mode 17220:

[code]

Mode 17225:

[code]

But now, it also works on the large GPU I have for testing, a RTX2080Ti:

[code]

And it also works for 17225. So I really have a problem because I can't reproduce locally. I'm afraid we need to keep this open until prices for 30xx GPU go to a normal price, then I'll buy one.

[2021-06-09 08:29] jsteube commented on #2813
In the meanwhile, in case you did not remove $HOME/.nv after recompile hashcat for report is also sometimes (rarely) a source of problems. You can try to remove it as well as kernels/ folder and see if there's any change.

[2021-06-09 08:38] jsteube opened #2815 "Autodiscover in -I mode"
See https://github.com/hashcat/hashcat/pull/2814#pullrequestreview-679328312 for hashcat version details. While not related to the bug described in there, I realized there's a little bug in hash-info from the OP's paste.

I believe this bug was added after we added the autodiscover feature. It's pretty self explaining:

[code]

In -I, it should not say autodetect mode. @matrix please fix.

[2021-06-09 08:42] ventaquil commented on #2813
Removing `$HOME/.nv` and recompiling is not working.

I tried to run those modes on NVIDIA Quadro P5000 but it seems to work okay.

[code]

[code]

I will try to debug it in next few days. Maybe I am going to find something.

[2021-06-09 09:07] jsteube commented on #2813
You can also try using the OpenCL backend for the 3080 using -d 3.

[2021-06-09 09:32] ventaquil commented on #2813
Result for `-d 3` and `-m 17225` you have in the issue description (the latest code block).

Here you have `-d 3 -m 17220`

[code]

[2021-06-09 10:02] jsteube commented on #2813
OK, so it seems to be a CUDA specific problem.

[2021-06-09 11:25] jsteube commented on #2815
Fixed with commit https://github.com/hashcat/hashcat/commit/27503957aae09377d99cad78844edf98fc65dce5

[2021-06-09 11:25] #2815 closed, assigned to matrix

[2021-06-09 22:03] roycewilliams opened #2816 "new algorithm: yescrypt"
Yescrypt is a notable algorithm:

* Publicly known, modern algorithm, by Solar Designer (@solardiz)
* PHC finalist: https://www.password-hashing.net/
* Interest appears to be increasing in this algorithm - starting to appear in the wild and reported in StackExchange questions, etc.
* Demonstrating that the hash is hard/slow in hashcat could actually encourage adoption :D
* Discovering shortcuts/we

[2021-06-10 06:13] jsteube commented on #2524
The hash-mode was merged into hashcat v6.2.0.

[2021-06-10 06:13] #2524 closed, assigned to nobody

[2021-06-10 12:54] solardiz commented on #2816
I second this request - would be great to have Argon2 and yescrypt in hashcat, ideally optimized roughly to the same extent so that performance comparisons would make sense. There is already a reasonably optimized implementation of [Argon2 in OpenCL](https://gitlab.com/omos/argon2-gpu/blob/master/data/kernels/argon2_kernel.cl) (although more work on it is needed - flavors, tuning). For yescrypt, t

[2021-06-10 14:16] 123Serg opened #2818 "new algorithm: metamask vault"
Hello! Is this possible to add bruteforce on Hashcat for Metamask vault? Metamask store encrypted seed phrase (12 words) in json file, example:

{data:wM+CSmCIIlaofXHPxCRFqbcPvEDZESBYM1XdAE8VFanedCIXvDEEt15nhzdv1pqzkW0MCQDBA5T1W1/Ltg7lKBszkoJJ1PtVHOpTn/afhvLyIp2VBBV1Tuj4s8LGo2GM9KOHn1Hn5BC1YhjP56opGrJlsIT9qnuGYHT8EtA5IiHP4zB4fwgGqDhtX+QUJi4rdm+apXZ1DpRvDq5J+bCca2GHXzU5H57Esn3THPXev3RdlkmjhuXVjV8=,

[2021-06-10 15:37] roycewilliams commented on #2816
@solardiz, thanks - I didn't even know about `--format=crypt`! Description updated.

[2021-06-10 18:36] oschoudhury commented on #351
I see that the pull request has been merged, however I can't find a method to extract the private key into PKCS#8 format from a PKCS#12 file without a priori knowledge of the key.

[2021-06-10 18:47] brandoncasaba commented on #351
I'm not aware of tools to do so, but it wouldn't be hard to do. You need an ASN.1 parser (standard libraries exist for most languages) and extract the PKCS#8 Shrouded key bag and copy the value as a PKCS#8 blob.

Helpful links:
https://datatracker.ietf.org/doc/html/rfc7292#section-4.2.2
http://www.pkiglobe.org/pkcs12.html

[2021-06-10 19:03] brandoncasaba commented on #351
Example js decoder that would allow manual conversion:
https://lapo.it/asn1js/

The PKCS8 element should be the [0] element under the pkcs-12-pkcs-8ShroudedKeyBag type. It probably starts with hex 30 82...

[2021-06-10 20:00] brandoncasaba commented on #351
The problem is that the default encryption modes used by most PKCS12 encryption are not going to be supported by the newly supported existing PKCS8 modules. The default openssl algorithm for example is:
1.2.840.113549.1.12.1.3 PbeWithSHAAnd3-KeyTripleDES-​CBC

Which is defined in the PKCS12 standard:
https://datatracker.ietf.org/doc/html/rfc7292#appendix-C

This is not supported by pem2john and is

[2021-06-11 01:33] mpalmer commented on #351
Not supporting a particular algorithm (in either pem2john or hashcat) would probably best be addressed by issues (or PRs) on those relevant codebases.  A tool to extract PKCS#8 data from a PKCS#12 file is almost certainly not something that hashcat should provide at all, so it'd be best developed as a standalone tool.

[2021-06-11 02:25] t94j0 commented on #2811
Along with this, it would be really nice to have a "silent" option that could print out all possible hash mode types without headers so that hashcat could be easily integrated with other shell scripts.

E.g.
`hashcat --identity --silent 5f4dcc3b5aa765d61d8327deb882cf99`

stdout:
[code]

Maybe you could overload the `quiet` flag?

[2021-06-11 07:42] jsteube commented on #2811
I assume the output should go line by line not in a single line with a separator?

[2021-06-11 13:16] MrUndead13 opened #2822 "Hashcat Segmentation Fault"
Good afternoon,
I updated my GPU driver this morning and did a apt update and upgrade this afternoon.
When I try to use hashcat , I get the following error :
Segmentation fault

Would anyone have a fix for this issue ?

Thanks in advance !

[2021-06-11 16:03] t94j0 commented on #2811
I'm not the one implementing it, so whatever is easiest, but separating by newline would make the most sense to me. Since the silent option would mostly be used in shell scripts, it would just need to easily be parsable by something like awk.

[2021-06-11 18:14] matrix commented on #2811
pushed here #2821
:)

[2021-06-11 18:17] brandoncasaba commented on #351
~~Yes, this issue could (and probably should) now be converted to:~~

~~"Add support to PKCS#8 implementations for 1.2.840.113549.1.12.1.3 (PbeWithSHAAnd3-KeyTripleDES-​CBC) encryption."~~

The PKCS#12 3DES mode above seems to be default on Windows and OpenSSL is by far and away the most common and what was intended when this issue was created. In 2016 this was the only supported mode on Windows a

[2021-06-11 18:43] brandoncasaba commented on #351
The other thing that I wasn't thinking about before and has not been mentioned, while attacking the PKCS#8 blob is a valid approach, a BETTER approach, or at least likely to be faster approach, is probably to attack the PKCS#12 HMAC derived from the same password. This is something plain PKCS#8 blobs do not have. This is what is extracted by pfx2john.py.

Reasons why it should be faster:
* Only on

[2021-06-11 20:54] t94j0 commented on #2811
@matrix Just tested it out. I really like the table with the hashcat identifier, name, and category as well as the `--quiet` option

[2021-06-12 07:46] jsteube commented on #2822
GitHub issues are for bugs and feature requests only. Please ask on hashcat forums.

[2021-06-12 07:46] #2822 closed, assigned to nobody

[2021-06-12 08:54] jsteube commented on #2811
The changes have been made.

Note I have changed --quiet to --machine-readable (you can write --mach) because we already have this option for other features like --keyspace and it suits much better that purpose.

Regular mode:

[code]

[code]

Machine mode:

[code]

[code]

You can compile from source or use the beta binaries from hashcat.net/beta/

[2021-06-12 08:54] #2811 closed, assigned to Chick3nman

[2021-06-12 17:39] elegant-git opened #2823 "Minor bug in rule "E" : RULE_OP_MANGLE_TITLE"
The "cap after space" seems to ignore letters that are in positions that are multiples of 4.
Lines below are repeating (3 spaces + letter) with a variable number of leading spaces.

[code]

[2021-06-12 18:13] elegant-git commented on #2823
Example with "real" sentence...

[code]

[2021-06-12 18:53] m-Phoenix852 opened #2826 "Hashcat.exe has stopped working"
I just ran example0.cmd and other hashcat commands. I get this error
[code]

[2021-06-12 20:05] roycewilliams opened #2827 "feature: add general platform information to "-I""
When helping users troubleshoot issues, it would be useful for -I to be a "one stop" way to include general platform information, about hashcat itself and the platform - perhaps things like:

* path to hashcat
* hashcat's work/config directory
* compile options used
* uname -a or similar architecture information
* etc.

This would expand the "-I" concept to be a more general "Information" option,

[2021-06-13 12:38] jsteube commented on #2823
Can you please provide me with the command line you were using. I'm wondering if this affects both optimized and pure kernels.

[2021-06-13 12:54] elegant-git commented on #2823
Greetings, I believe it affects both kernels.
Thank you for your help!

Here is the command line (same as in the git):

D:\hashcat-6.2.1>hashcat.exe word.txt -r rule.txt --stdout
Successfully initialized NVIDIA CUDA library.

Failed to initialize NVIDIA RTC library.

* Device #1: CUDA SDK Toolkit installation NOT detected or incorrectly
installed.
             CUDA SDK Toolkit installation require

[2021-06-13 13:08] elegant-git commented on #2823
Good call.. upon further testing, I think this may only impact the pure
kernel!

The optimized kernel cracked all of the test hashes (md5):

Input words: (goal_lower.txt)
the quick brown fox
a
 a
  a
   a
    a

Target Hashes ( hashes.txt)
22cd45cf6bd51bc0398b46744c097f26
7fc56270e7a70fa81a5935b72eacbe29
4a1f10599d93d68b762e897cc09870a1
1ee35543227781c739e656cb8cc8ef1e
a2c768e0dedd8f8fdc8fa8864fe4

[2021-06-13 13:26] jsteube commented on #2823
OK, I can reproduce, looking into it.

[2021-06-13 13:51] jsteube commented on #2823
OK, this should be fixed with commit https://github.com/hashcat/hashcat/commit/8ebf4b98584213891f6e48570c91c31d22b80a81

If you compile from source keep in mind that you need to use make clean, because the rule engine code from OpenCL is shared with the host program. After cracking succeeds on the GPU the host has to redo the exact same steps as the GPU did because the password is not send back in

[2021-06-13 14:31] #2823 closed, assigned to jsteube

[2021-06-14 10:55] jsteube commented on #2826
Looks like a driver issue (crashes inside the OpenCL runtime). Not a hashcat problem. Please cleanly reinstall OpenCL drivers and make sure not to use --force

[2021-06-14 10:55] #2826 closed, assigned to nobody

[2021-06-14 11:00] jsteube commented on #2827
I like the idea, but the question is what we want to add. For example we cannot do it better than nvidia-smi or rocm-smi is doing it, or clinfo.

So should we reduce to hashcat specific information? I think we could also use -II like double "I", like some tools do it for -vvv, like very verbose. If the user is doing -II we can have more information. Or we just change the -I.

We can also modify th

[2021-06-15 07:04] ventaquil opened #2828 "Note/warning when some devices are skipped"
When user explicitly use CUDA and OpenCL drivers for same device there is no info about skipping OpenCL ones.

[code]

How about printing some info like `Device #X skipped because it's alias for #Y`?

[2021-06-15 08:12] jsteube commented on #2828
Just to understand this request correctly. We are talking about the effect that devices 7 and 8 are not being used, even if the user explicitly selected them, but then removed because of the alias, right? So in case you would have used -d 1,2 only, then everything is fine already?

[2021-06-15 08:43] ventaquil commented on #2828
Exactly. Ignore all other devices, I am talking only about Quadro RTX 5000 and Quadro RTX 4000 - devices 7 and 8 are ignored because 1 and 2 were chosen. Maybe there should be some information why 7 and 8 are ignored when user explictly set `-d 1,2,7,8`? There shouldn't be any info about ignored devices when `-d 1,2`.

[2021-06-15 09:47] clem9669 opened #2829 "Invalid rules if contains €"
**Describe the bug**
Hashcat do not accept rules with € symbol.

**To Reproduce**
Skipping invalid or unsupported rule in file clem9669_small.rule on line 113: $€
Skipping invalid or unsupported rule in file clem9669_small.rule on line 225: ^€

**Expected behavior**
I expected 'password€' and '€password'.

**Hashcat version (please complete the following information):**
 - OS: Kali Debian 5.10.28-

[2021-06-15 09:48] jsteube commented on #2829
User error, utf8 is not supported with rules. Use iso-8859-15 instead. GitHub issues are for bugs and feature requests only. Please ask on hashcat forums instead.

[2021-06-15 09:48] #2829 closed, assigned to nobody

[2021-06-15 11:46] orweinberger opened #2830 "Add support for data extracts for Blockchain (12700/15200)"
Hashcat can currently handle hashes originating from Blockchain wallets via modules 12700/15200. To produce the hash candidate we use `blockchain2john.py`.

Is it possible to add support for using a different hash format, as given by BTCRecover's extract scripts?

Some work have been done already when Hashcat built support for a similar hash format for Blockchain's second password (18800).

In det

[2021-06-15 12:07] clem9669 commented on #2829
Hey @jsteube,

Thanks for you reply. I have seen the following solution you gave in https://github.com/hashcat/hashcat/issues/2598.

Is it the recommanded way to crack with utf8 ?

[2021-06-15 12:26] jsteube commented on #2828
OK, done: https://github.com/hashcat/hashcat/commit/2d7f67fd2368cd50776ed09d6429113b49b21669

[2021-06-15 12:26] #2828 closed, assigned to jsteube

[2021-06-15 12:27] jsteube commented on #2829
No, is a completely different thing. Ask on forum!

[2021-06-15 21:37] mohemiv opened #2832 "False-Negatives with large amount of hashes"
Tested versions:
[code]

Steps to reproduce:
[code]

As you can see, hashcat has cracked only 3.29% of hashes insted of expected 100%, and there are no errors and warnings as well .

[2021-06-16 08:43] philsmd commented on #2832
**[update]** : ignore this message, I've interpreted the python code incorrectly (was thinking about unicode code points with multi-byte chars)

I think this is a known problem with (hashcat's optimized/fast implementation of) utf16 encoding. LM uses unicode/utf-16 internally within the algorithm.

We recently added some support for "more accurate utf16 encoding" for slow hash types (not fast ones

[2021-06-16 08:48] mohemiv commented on #2832
I bruteforce numbers, not a text.

On Wed, Jun 16, 2021 at 11:43 philsmd ***@***.***> wrote:

[2021-06-16 08:49] philsmd commented on #2830
so this request is just for convenience ?

I'm I right that you can easily convert from one hash format to the other with a simple script (externally/outside of hashcat) ?

[2021-06-16 08:52] philsmd commented on #2832
oh right, ignore my first message... I had the impression that it was using unicode code points.

Well, why do you use some strange command line arguments for hashcat, like `--bitmap-max 23` ? Please explain if it also happen with a "normal" run and also with a dictionary attack etc.
thx

[2021-06-16 08:52] orweinberger commented on #2830
Is that possible? I'm actually not sure myself. If you try running hashcat on the `blockchain2john.py` output that is received when running it against the data extract, it errors out on a token length exception.

Could you possibly explain how I can take the data extract and run it correctly against 12700/15200, even in a non-convenient way?

[2021-06-16 08:55] mohemiv commented on #2832
Also, it couldn’t be a problem with UTF-16 encoding since LM just doesn’t
use UTF-16. It uses the system encoding, for example CP866.

On Wed, Jun 16, 2021 at 11:48 Arseniy Sharoglazov ***@***.***> wrote:

[2021-06-16 08:56] philsmd commented on #2818
do all metamask versions use this algorithm ?

can you give some details about when (which version etc) this algorithm was introduced ? Were there some variations in salt / iv length or restrictions in the password length / keyspace etc

[2021-06-16 09:04] mohemiv commented on #2832
I use --bitmap-max 23 because it removes a warning which impact I don’t
fully understand. The problem remains without this option, but there is a
warning about bitmap overflow.

Regarding the dictionary attack, I will run some test, and let you know
what I find.

On Wed, Jun 16, 2021 at 11:52 philsmd ***@***.***> wrote:

[2021-06-16 09:06] philsmd commented on #2830
so you trying to convert the base64 encoded `bk:` hash ?

I think you need to look here what the format looks like
https://github.com/3rdIteration/btcrecover/blob/e3247f14726a6fbdcaeaf63223457f0acd7fa37b/extract-scripts/extract-blockchain-main-data.py#L85-L88

with that information the format should be easy to convert from one hash format to the other (of course you need working examples to test w

[2021-06-16 09:10] philsmd commented on #2832
well, I would say that you should never ignore warnings.

tip for next time: You should have mentioned why you set (and had to use) specific command line parameters, because this way devs can much more easily find the culprit (it's not always easy to see at first glance what users do with their command line and why they use specific options.... some user's commands just look horrible, like generat

[2021-06-16 09:13] mohemiv commented on #2832
I’ve also tested NTLM (after creating an issue), and for NTLM it works fine
(with --bitmap-max or without it).

On Wed, Jun 16, 2021 at 12:11 philsmd ***@***.***> wrote:

[2021-06-16 12:42] 123Serg commented on #2818
Metamask version: 9.2.0
I don't know for sure, but I think all metamask versions use this algorithm.
There is password restriction: minimal length is 8 chars.
Length of salt is 32 bytes, iv is 16 bytes, I think there no other variations of them.
Data that I provided for test is encdoded by base64.

[2021-06-16 12:44] roycewilliams commented on #2832
The reason for the use of --bitmap-max should be self-evident here. It is very familiar when working with large numbers of hashes - which is a key aspect of this issue.

[2021-06-16 13:09] clem9669 commented on #2829
If you have this problem, the solution I have been given is: `$€ => $\xe2 $\x82 $\xac`

1. Convert character to utf8 hex ([charset.org](https://www.charset.org/utf-8))
2. Build the hexa with `\x`
3. Write rules with the hexa value

[2021-06-16 13:49] mohemiv commented on #2832
I did more tests, and I found that I can reproduce this issue with only 20 or 200 hashes, and not 2,000,000. And the option --bitmap-max is not needed. My bad.

Regarding other options, `--potfile-disable` is here to keep the original potfile untouched. The option `--potfile-path=/tmp/testing.pot` could be used as well. And `-o /dev/null` was here to just remove the large output with cracked hashe

[2021-06-17 05:42] ventaquil commented on #2832
Hashes generated with command

[code]

Here you have my `hashes.py` file which generates LM hashes from passwords: https://gist.github.com/ventaquil/d53709c9192dd1ba8abbd828e57ee18e

[code]

[2021-06-17 07:46] jsteube commented on #2616
VeraCrypt: Increase password length support for non-boot volumes from 64 to 128 with commit https://github.com/hashcat/hashcat/commit/62397283c107f79f37acfa6f21147a1d069a49a5

This change was more work intense than expected, mainly because key files have a weird effect on how passwords > block size are handled compared to how passwords > block size are handled without key files.

In total 3453 lin

[2021-06-17 07:46] #2616 closed, assigned to nobody

[2021-06-17 10:58] mohemiv commented on #2832
@ventaquil, Hello!

I tried to run your test example with 2,000,000 hashes as you specified, I waited for 2 hours, and I had only "Sorted hashes..." message. Next, I shrunk the hash file to 200,000 hashes, and hashcat has cracked 100.00% hashes as well.

Please, make the test with the example from the first message of this topic. There might be a slight difference in the examples that actually may

[2021-06-17 11:27] jsteube commented on #2832
I was wondering, how does -D1 affect this?

[2021-06-17 11:59] mohemiv commented on #2832
There is no difference in the result with -d 2 or without it. It's just to note that you can reproduce it using only 1 GPU. Sorry again for not explaining each flag.

[2021-06-17 12:20] jsteube commented on #2832
I actually mean -D not -d. Please use -D1 to enable CPU support.

[2021-06-17 12:29] mohemiv commented on #2832
-D1:
[code]

[code]

[2021-06-17 12:42] jsteube commented on #2832
OK, no worries. But just to let you know, you need to install OpenCL CPU driver (recommendation intel oneapi) like it was a GPU.

[2021-06-17 13:49] mohemiv commented on #2832
The issue doesn't appear when `-D1` is used.

[2021-06-18 04:22] lmaxeniro opened #2834 "New Feature-Add modular N functions"
**Is your request based on a publicly know cryptographic schema and where can we find information about?**
I am interested in the ecc_secp256k1 opencl lib, after doing some study, I intend to try to use the provide openCL lib to implement the signature verify/recovery protocol, for such reason, I think it might be good to add:
1. One common scalar multiply modular function, by which the mod number

[2021-06-18 08:53] jsteube commented on #2832
This is a weird issue. It seems that is somehow related to the threads, but I don't see a reason why. If anyone has an idea how to fix it let me know. As a workaround you can use -T31, you only lose 1/32 of performance.

[2021-06-18 10:48] elgalu opened #2835 "Does this respect CUDA_VISIBLE_DEVICES ?"
Hi, does this tool respect `CUDA_VISIBLE_DEVICES` ?

[2021-06-18 11:15] elgalu commented on #2835
It does respect it, cool.

[2021-06-18 11:15] #2835 closed, assigned to nobody

[2021-06-18 21:52] jsteube commented on #2832
OK, I found a workaround with commit https://github.com/hashcat/hashcat/commit/05125eb67c9da98e349dabea50f81f24080f6347

Please test and close issue if fixed.

[2021-06-18 22:52] #2832 closed, assigned to nobody

[2021-06-19 09:10] philsmd opened #2838 "tests: verify of -m 25400 = PDF edit password is broken"
I tested to run our verification script (`tools/test.pl`) with the example hash:
[code]

(the password should be `hashcat`)

I've tested it like this:
[code]

the file `out` should now contain the `cracked  hashes`, but it does not. (the input was the above hash within the `hash` file and the hash and password - separated by : - within the `in` file)

I've investigated this a little bit and it see

[2021-06-19 09:16] philsmd opened #2839 "-m 26300 = FortiGate256 (FortiOS256) default password"
This is a minor problem, but still I want to mention/discuss this.

I think there is no reason to use `backup` as the default password for -m 26300.

we could easily generate a `hashcat` hash with the below command:

[code]

My suggestion is to use the `hashcat` password for each and every hash algorithm for which we can easily generate hashes.... so there is no reason to use a "non-default" passw

[2021-06-19 09:20] philsmd opened #2840 "tests: -m 26200 = OpenEdge Progress Encode code style"
The file `tools/test_modules/m26200.pm` uses a little bit strange indentation and code style (if-else).

This is just a reminder that we should probably change this code to make it look like our other perl code (code style/formatting).

Anybody volunteer to make these small changes ? it's probably just a few lines of changes (if-else branches etc).

Thanks

[2021-06-19 09:23] philsmd opened #2841 "new code style problems (whitespaces)"
This is something we could fix whenever we have some free time to make these minor changes.

I've found some minor code sections lately that have some weird whitespace (spaces at the end and tab characters etc).

We could probably easily find these files/sections like this:
[code]

Don't hesitate to make these changes whenever you find the time to do so.... just a few lines need to be changed (a v

[2021-06-19 13:01] roycewilliams commented on #2841
Can these be addressed with .editorconfig ?

[2021-06-20 16:12] matrix commented on #2840
Hi @philsmd, put a "bug" label on these things it seems exaggerated :)
The code seems to work, you should modify it directly without opening an issue right?
Please remove "bug" label here also on #2841
Thanks

[2021-06-20 17:17] SoSander commented on #1966
Go add this please, Some forums use it too

[2021-06-20 17:28] roycewilliams commented on #1966
phpBB has merged support (but I'm not sure what releases it's part of):

https://github.com/phpbb/phpbb/pull/5211

[2021-06-20 17:39] roycewilliams commented on #1966
Python's PassLib supports Argon2 as of version 1.7.0 (2016):

https://pythonhosted.org/passlib/lib/passlib.hash.argon2.html

[2021-06-20 17:42] roycewilliams commented on #1966
The Laraval PHP framework supports Argon2:

https://laravel.com/docs/8.x/hashing/

... as does Symfony as of 3.4 (2017):

https://symfony.com/blog/new-in-symfony-3-4-argon2i-password-hasher

... and Django (2017):

https://code.djangoproject.com/ticket/26033

[2021-06-20 17:43] roycewilliams commented on #1966
The Bouncy Castle Java crypto framework supports Argon2:

https://www.bouncycastle.org/specifications.html

[2021-06-20 17:44] roycewilliams commented on #1966
KeePass KDBX format version 4 supports Argon2:

https://keepass.info/help/kb/kdbx_4.html

[2021-06-20 17:47] roycewilliams commented on #1966
OpenLDAP supports Argon2 via a loadable module:

https://manpages.debian.org/testing/slapd-contrib/slapd-pw-argon2.5.en.html

[2021-06-20 17:57] roycewilliams commented on #1966
OpenSSL support for Argon2 is positioned to land "soon" - sometime after OpenSSL 3.0:

https://github.com/openssl/openssl/issues/4091
https://github.com/openssl/openssl/pull/12256

[2021-06-20 18:21] jsteube commented on #2840
I think the label was added automatically by the template selection

[2021-06-22 06:38] jsteube commented on #2841
merged, many thanks!

[2021-06-22 06:38] #2841 closed, assigned to nobody

[2021-06-22 08:48] philsmd commented on #2840
Yeah, that's totally correct. I didn't intend to add the `bug` label... I could only select either a `feature request` or a `bug` template.

of course this "issue" was always meant to be just a nice-to-fix or nice-to-change feature because the code looked a little bit different from our other perl unit test code (but also this wouldn't be a major problem, don't get me wrong).

I just opened a coup

[2021-06-23 20:29] thatux opened #2850 "make wsl broken"
**Describe the bug**
`make wsl` is not working.

**To Reproduce**
Following https://github.com/hashcat/hashcat/blob/master/BUILD_WSL.md on a fresh gjt clone results in:
[code]

**Expected behavior**
should build Windows binaries hashcat.exe

**Hardware/Compute device (please complete the following information):**
Windows 10 laptop. Tried with both wsl1 (Ubuntu 18.04) and wsl2 (Ubuntu 20.04) both s

[2021-06-23 20:43] thatux commented on #2838
Hi @philsmd,

Nice find, I'm not a 100% sure whether I can follow you compeletly but I think I agree.

Have you seen these comments: https://github.com/hashcat/hashcat/pull/2739#issuecomment-816998851
#2739
In short the best idea as @jsteube suggested is to add the password required as a kind of salt, do you agree @philsmd?

Am I correct that these are the files you use?

[code]

I'll try to run h

[2021-06-23 21:03] jsteube commented on #2850
Can't reproduce:

[code]

[2021-06-23 21:11] thatux commented on #2850
d616a9e42 "Add note about tested WSL2 configuration" does work for me, but master doesn't:
`make win > make_win.log 2>&1`
[make_win.log](https://github.com/hashcat/hashcat/files/6704878/make_win.log)

[code]

[2021-06-23 21:30] thatux commented on #2850
OS Name	Microsoft Windows 10 Home
Version	10.0.19043 Build 19043

[2021-06-23 22:12] jsteube commented on #2850
This error looks more like if someone is trying to clone hashcat source to somewhere inside /mnt but that's not a hashcat issue?

Note that this is not expected for WSL. Can you confirm you are not trying to compile under /mnt ?

[2021-06-24 04:24] oam7575 commented on #2850
**Report**
Build process appears to work fine for me.

**Notes**
I have never used WSL previously and have used this bug report as a test for myself and the bug.

**Process**
I freshly installed WSL via Programs and Features and then installed and Ubuntu 20.04 environment via the Microsoft store.

Following the WSL build instructions here : https://github.com/hashcat/hashcat/blob/master/BUILD_WSL.

[2021-06-24 07:49] grische opened #2851 "Nvidia+OpenCL error: implicit conversion from address space "global" to address space "private""
**Describe the bug**
hashcat fails to compile kernel `OpenCL/m13100_a3-optimized.cl` on a Nvidia 1080Ti (and others).
[code]
For more see here: https://gist.github.com/grische/397ed01a9146dcc3541543cdc1807d4b#file-stdout

**To Reproduce**
Simply run the Hashcat benchmark for "Hashmode: 13100 - Kerberos 5, etype 23, TGS-REP" with Nvidia's OpenCL (not with nvRTC).

**Expected behavior**
Either succe

[2021-06-24 07:51] jsteube commented on #2851
I think I had this fixed yesterday with commit https://github.com/hashcat/hashcat/commit/b2193e1af4d1134694001538ec5c69b0e285e7f9

Can you please update to latest GitHub master and retry?

[2021-06-24 13:49] grische commented on #2851
@jsteube thanks for the fix.

I am unable to reproduce the problem with neither driver 430 nor 460 using hashcat on master (commit 84cf5e70e7331ebd7c4c3134ab8f058601a70e5a).

[2021-06-24 13:49] #2851 closed, assigned to nobody

[2021-06-25 05:57] #2840 closed, assigned to nobody

[2021-06-25 05:57] #2839 closed, assigned to nobody

[2021-06-25 06:49] jsteube commented on #2611
I just double checked the hashcat_ctx_t struct, but I don't see why brain feature should have an influence on its size. This is a snippet from current master:

[code]

Or did you mean that the size would change for the future case in which we would have added this brained_enabled flag? It wasn't so clear to me from your description. But even then, the size would not change because the bool flag wo

[2021-06-25 14:29] thatux commented on #2850
Yeah I'm cloning it under /mnt/c such that I can also (easily) access the hashcat build from Windows Explorer.
I'm surprised that this wouldn't work actually, with a prior commit this still works (d616a9e), so I'm not sure why that wouldn't be possible to work anymore, apparently something in hashcat changed? Any pointers on that @jsteube?
I'll change the description in https://github.com/hashcat/

[2021-06-25 17:53] jsteube commented on #2850
I didn't investigate much further but I think the reason is that for /mnt/c (and similar) folders there is no more case sensitivity for file names because these are NTFS filesystems.

[2021-06-25 18:34] jsteube commented on #2850
Should be fixed with this commit https://github.com/hashcat/hashcat/commit/b30d55c5d98d8cfc08942052351e60cbd6c2ae7d

[2021-06-25 22:32] Shooter3k opened #2852 "request for autohex on debug-mode=4"
When using --debug-mode=4, if the pre-rule plain has a colon in it or the post-rule plain has a colon it, the debug output becomes unparsable and generally not usable as there is no way to determine where the rule begins and ends.

It would be great if the debug output could be automatically converted into hex if a character exists that would otherwise cause parsing issues, exactly like hashcat al

[2021-06-25 22:40] roycewilliams commented on #2852
Good idea! :)
(Duplicate of #2493)

[2021-06-25 22:43] 0xVavaldi commented on #2852
Should be implemented honestly

[2021-06-26 09:05] thatux commented on #2850
Cool, that works! Thanks :). Wouldn't have figured out that'd be the cause.

[2021-06-26 09:05] #2850 closed, assigned to thatux

[2021-06-26 11:55] bgmastermind opened #2853 "nvrtcCompileProgram(): NVRTC_ERROR_INVALID_OPTION"
**Describe the bug**
Hashcat fails to start in cuda mode with GeForce 3060 - the new LHR version
Works when started in opencl mode with --backend-ignore-cuda
Tried with cuda sdk 9.1, 11.3, and 11.0
I also tried to compile from github, but i got the same error.

**To Reproduce**
run ./hashcat -b

**Expected behavior**
to work

**Hardware/Compute device (please complete the following information):**

[2021-06-26 12:08] bgmastermind commented on #2853
downgrading driver to 460.84 got it working

[2021-06-26 15:20] jsteube commented on #2679
Added with commit https://github.com/hashcat/hashcat/commit/909d5e64a5d78ea6bab7c4dfa33d282dc51e1d32

As described in the commit message, I see this hash mode more like a template kernel because I believe there's only very few real-world applications using this, if any.

In order to utilize full GPU power we need to have some amplifiers involved. Therefore I lifted the exact input candidates lengt

[2021-06-26 15:20] #2679 closed, assigned to jsteube

[2021-06-26 15:24] jsteube commented on #2853
OK, thanks for updating. But I'll close it because is not a hashcat issue.

[2021-06-26 15:24] #2853 closed, assigned to nobody

[2021-06-26 17:45] roccomuso commented on #2679
@jsteube can you share some usage hints?
I'm not sure it covers my need.

If I have a dictionary or I wanna try bruteforce. I would need to pad the password with 0 in order to get to a 256 bit key:

`cat` would be like `cat0000000000000`

[2021-06-26 18:20] jsteube commented on #2679
You can use cat in a regular wordlist. The kernel will do the padding for you.

[2021-06-26 18:25] jsteube commented on #2611
Added with commit https://github.com/hashcat/hashcat/commit/dcaba1f4737176334a80461f145fa31657bb481f

[2021-06-26 18:25] #2611 closed, assigned to jsteube

[2021-06-26 18:31] #2626 closed, assigned to nobody

[2021-06-26 18:33] jsteube commented on #2803
@bpdevries1 Update please

[2021-06-26 23:10] jsteube commented on #2490
I debugged this a bit since I got access to some mac computer recently.

It seems the JiT fails without a reason (Not complete without reason, but the reason is "SC failed. No reason given.") if the kernel allocates the full local memory reported back by its own driver. In my case this is 64k. You can find our using clinfo, see the column "Local memory size". Latest versions of hashcat respect thi

[2021-06-27 04:24] bigfella237 commented on #2679
So the modes are m26401, m26402 & m26403?

Are they AES-128, AES-192 & AES-256 respectively?

[2021-06-27 08:08] jsteube commented on #2679
Yeah, try out --help

[code]

[2021-06-27 08:19] jsteube commented on #2490
Workaround added with commit https://github.com/hashcat/hashcat/commit/8a3eee3fe5b6cd2a88d154ea95bcd0a5422d57d3

[2021-06-27 08:19] #2490 closed, assigned to jsteube

[2021-06-27 08:38] jsteube commented on #2852
Was fixed with PR https://github.com/hashcat/hashcat/pull/2854

[2021-06-27 08:38] jsteube commented on #2493
Was fixed with PR https://github.com/hashcat/hashcat/pull/2854

[2021-06-27 08:47] #2606 closed, assigned to nobody

[2021-06-27 09:32] jsteube commented on #2575
The reason why hashcat works the way is because wordlist sizes can be of arbitrary size. Some wordlists consists of 100GB an more and there's simply no GPU which can load the full wordlist content in one piece.

IOW, hashcat has to create chunks of words from the wordlist (what you call batches) and copy this data over PCI-Express and then restart the cracking kernel on GPU. But the copy of this d

[2021-06-27 09:32] #2575 closed, assigned to nobody

[2021-06-27 14:44] #2493 closed, assigned to nobody

[2021-06-27 15:04] jsteube commented on #2572
I think everything is fine here. Just run make install.

If a user runs hashcat, no matter if root or not, the path described here will be used: https://github.com/hashcat/hashcat/pull/2456#issuecomment-855208179

Keep in mind that you can do something like this: make install PREFIX=/tmp

There's plenty of Linux distributions use the install target of hashcat.

[2021-06-27 15:04] #2572 closed, assigned to nobody

[2021-06-27 15:38] tautology0 commented on #2572
Hold on; the whole point is that users should be able to install standard hashcat not have to recompile it just to change the host directory. We're no longer in the 90s.

As a user of a *ix utility I'd expect a utility to store all of its working files in $HOME/.utility irrelevant of where the utility is stored. Just like pretty much every *ix utility.

Worse case scenario at least allow the use o

[2021-06-27 15:55] jsteube commented on #2572
Wait, that is also how it was in the past. I also had to learn recently that using $HOME/.utility is outdated. Instead files should be stored in folders like .cache and .local and others. Before that, hashcat was writing to $HOME/.hashcat as you described.

For the other point, there's no way around hardcoding the install path into the binary. This is not an ancient mechanism, it's the oppsite. Th

[2021-06-28 06:55] ventaquil commented on #2611
Sorry @jsteube - my fault. The problem was in `user_options_t` struct - it causes errors when you used brain-enabled user options in your program by using brain-disabled library - and vice versa as far as I remember.

I am not sure that dcaba1f fix it out. I am going to prepare some demos in my spare time.

[2021-06-28 07:44] jsteube commented on #2461
@trounce1 Any update here?

[2021-06-28 07:59] jsteube commented on #2507
Is this still relevant? I had this tested on AMD Radeon Pro W5700X Compute Engine and no problems:

[code]

[2021-06-28 09:28] jsteube commented on #1456
With the autodetection feature added, this Issue is kind of obsolete. Do you think we can close?

[2021-06-28 09:36] matrix commented on #2507
Hi, yes is relevant. Also the following fail:

[code]

[2021-06-28 09:52] jsteube commented on #2507
Works fine here:

[code]

[2021-06-28 10:33] matrix commented on #2507
So we have an issue only with Intel Iris, and not only with sha256.

[code]

[2021-06-28 11:20] matrix commented on #2507
With --markov-disable and SHA1 the password is found, but not with SHA256 ...

[2021-06-28 11:24] jsteube commented on #2507
That means that work item ID has an influence. Maybe -T 1 will fix it?

[2021-06-28 11:27] matrix commented on #2507
No :|

[2021-06-28 14:07] matrix commented on #2507
With -S it works, is it probably something to do with the gpu generator?

[code]

[2021-06-28 14:23] matrix commented on #2507
Works also with --markov-classic

[code]

[2021-06-29 13:33] #2852 closed, assigned to nobody

[2021-06-29 13:37] jsteube commented on #2613
Added to hashcat v6.2.2

[2021-06-29 13:37] #2613 closed, assigned to nobody

[2021-06-29 18:45] jsteube commented on #2504
This has been addressed with commit https://github.com/hashcat/hashcat/commit/254e33c473a7775fcdb1b5ac1e4dd0936ed91df4 as discussed. Skip the BOM instead of abort.

We could add some more text to the warning, for instance telling the user the BOM was ignored and they should use --encoding-from but OTOH we could automatically do it, too. For instance if we detect a BOM in a wordlist, but we would n

[2021-06-29 18:45] #2504 closed, assigned to nobody

[2021-06-29 19:05] thatux commented on #2838
Some stuff I've tried, but I can't get the test.pl script working yet; it won't return any output :S
I'm reading up on how to use test.pl and test.sh

[code]

However I'm unable to get back any output from test.pl, and I'm not sure why.

Test.sh does work:
[code]

[2021-06-29 20:36] jsteube commented on #2581
Lets keep it simple and see what's happening. Added with commit https://github.com/hashcat/hashcat/commit/2aff6cba512dfa79c14a66467561cf49fef7b934

[2021-06-29 20:36] #2581 closed, assigned to nobody

[2021-06-29 20:54] thatux commented on #2838
After adding some debug statements to test.pl I now understand what you mean

[code]

Again, for the attack it'd probably best to add an optional salt to the attack which would represent the user password.

However of the unit-test it'd make sense not to take the user-part into account, for m24500 and not to take the owner-part into account for m10500. How'd you think about that @philsmd?

If I ca

[2021-06-30 11:17] jsteube commented on #2803
KeePass: Increase supported size for KeePass 1 databases from 300kB to 16MB with commit https://github.com/hashcat/hashcat/commit/56c2243dfb39cd090f05a5e9b5a81cce2d3761ae

Pro Tip: Use -o otherwise it will flood your screen :)

[2021-06-30 11:17] #2803 closed, assigned to bpdevries1

[2021-06-30 13:34] s3inlc opened #2859 "--hash-info does produce an error on certain modes"
Used hashcat version is from the actual master.

When requesting mode information with --hash-info, it produces an error and quits for modes where only optimized kernels exist.

Example:
[code]

[2021-06-30 18:47] jsteube commented on #2859
OK, thanks for reporting. I can reproduce this behavior.

[2021-06-30 20:16] thatux commented on #2838
We cannot _not_ take the user part into account, as the owner-hash-part is based on the user password, hence we'd never be able to generate the correct owner-hash-part  without knowing the correct user pass.

Hence the only solution is to add the user password to the hash of the edit password, and take that into account when it's present, and when it's not present use the empty user (as we do now)

[2021-06-30 20:23] jsteube commented on #2507
As long as I can't reproduce this I see no way of debugging.

[2021-07-01 06:04] philsmd commented on #2818
I've now investigated this and this algorithm seems to be very similar to the one @matrix added with -m 25500 = `Stargazer Stellar Wallet XLM` (see: https://github.com/hashcat/hashcat/pull/2666 , maybe @matrix you can help also here):

<details>
  <summary>metamask_poc.pl</summary>

[code]

</details>

It seems that 10000 iterations are hard coded ??? in you example code by https://cnpmjs.org/pack

[2021-07-01 06:19] philsmd commented on #2838
sorry for the delay.

yeah, the input for the `verify` script (test.pl verify 25400) is exactly the same as the input / output of hashcat (you can also read this in the dev guide under docs/). hashcat outputs hashes always in the format `hash[:salt]:pass` (i.e. the hash is printed and the password is appended with a colon before it). this is the so-called `crack file` (`in` for verify).

This is n

[2021-07-01 12:50] bpdevries1 commented on #2803
Sorry for my slow response, thnx for the fix though this should be ample to crack large keepasses.

[2021-07-01 18:17] llamasoft commented on #2575
Thanks for the feedback @jsteube.  I fully understand that transferring data to the GPU can be a massive bottleneck especially when the number of salt iterations is comparatively low.  Ideally we don't want it to happen _too_ often, otherwise we spend more time transferring data than calculating hashes.  However, the extreme inverse of this isn't good either.  If we're transferring chunks too infr

[2021-07-01 19:03] jsteube commented on #2354
I agree with both @Chick3nman and @philsmd you could use princeprocessor and create a wordlist. In the end, there are too many unknowns. I think we have to go the hard way and reverse the steps, as you have written.

[2021-07-01 19:03] #2354 closed, assigned to nobody

[2021-07-01 19:35] jsteube commented on #2545
Added with commit https://github.com/hashcat/hashcat/commit/ce41316ac378d1b6b593b201fa4100af4aa6238b

[2021-07-01 19:35] #2545 closed, assigned to nobody

[2021-07-02 07:01] jsteube commented on #2859
Fix with commit https://github.com/hashcat/hashcat/commit/c322429

[2021-07-02 07:01] #2859 closed, assigned to jsteube

[2021-07-02 07:48] s3inlc commented on #2859
Thanks, I can confirm it works correctly again.

[2021-07-02 09:36] 123Serg commented on #2818
Encrypted data is not random, it store mnemonic, information about number of accounts that was created by user on this mnemonic and hdPathes of them. So data length can be very different. But in pratcice most users use 1-10 wallets.

Example plaintext(output) of decrypted data that I have in my python script:
b'[{"type":"HD Key Tree","data":{"mnemonic":"evidence fever submit seek pencil liquid dra

[2021-07-02 16:49] matrix commented on #2818
yes, as @philsmd said it is very similar to "Stargazer Stellar Wallet XLM". As soon as possible I try to develop the code.
Thanks

[2021-07-02 16:59] 123Serg commented on #2818
thank you so much! I'll be waiting for you)

[2021-07-03 17:58] TheMatt2 commented on #2507
(not sure why I was assigned. I'm not a contributor on this project)

[2021-07-03 18:28] TheMatt2 commented on #2507
Problem still relevant.

Running the test case on my machine creates the following output.
[code]

Using `-T 1` does not change the result.

[code]

I also reran the original hashes, and they all report the same thing.

The following cases work as expected, and find the correct results (both on GPU and CPU):

[code]
These cases do not work on the GPU, but work on the CPU.

[code]

As time has pass

[2021-07-03 18:29] TheMatt2 commented on #2507
@jsteube Perhaps this is specific to MacOS drivers and Intel Graphics cards?

[2021-07-04 11:43] jj2hh2hasdf commented on #2717
Sweclockers.com db

[2021-07-04 11:58] jj2hh2hasdf opened #2862 "Make it easy for people to customize current hashcat kernels"
**Describe the feature**
Make it easy for people to create their own kernel modes that reuse other kernels.

There are a lot of dbs now days that use an extra hash before hashing with another hash, and asking you guys to code a custom kernel for each new variation of the same hash type is pointless.

Example:

sha512($salt.md5($password))

This hashing variation doesn't exist in hashcat, and there

[2021-07-04 13:56] matrix commented on #2818
I just pushed the new algo, but for now data_len is static ... @123Serg have you a way to determine the minimum and maximum data length?
Thanks

[2021-07-04 14:00] matrix commented on #2862
Hi @jj2hh2hasdf, to add an algo in hashcat you need know C, perl and OpenCL programming language, as well as studying the logic already implemented on hashcat, and the guide to develop plugins. If you don't know C ... there is nothing that can make your life easy here.

[2021-07-04 14:02] roycewilliams commented on #2862
What they're asking for here is something like John's dynamic mode.

[2021-07-04 14:22] matrix commented on #2862
That's easier said than done. @jsteube what do you think about it?
Perhaps, with some ifdef on the kernel it is possible to manage the simplest cases in order not to go down too much in terms of performance.

[2021-07-04 14:28] jj2hh2hasdf commented on #2862
Yeah something like that @roycewilliams

@matrix I'm asking to make it simpler for people to add a custom kernels from kernels that are already coded, by combining them maybe ? This would be useful right now and in the future since companies use more and more different combinations of already existing hash algos. This would also make it easier to add a lot more hashing algos like md5(md5(md5($pass

[2021-07-04 15:38] 123Serg commented on #2818
Hey, it's nice news! As I said before there is no correct way to calculate data length because data store 12 words, number of addresses that user created on this mnemonic and their pathes(which can be massive). In theory user can generate billions of addresses  and data will be so big. But in practice users have 1-10 wallets. I think minimal data len (encrypted data only, not including IV and salt

[2021-07-04 15:59] matrix commented on #2818
ok for the data size, I will push the mod later.
Hashcat does not decrypt, but gives you the password if it finds it.

If you want to try, you can use also my dev branch: https://github.com/matrix/hashcat/tree/metamask

Thanks

[2021-07-04 16:15] MikeFarrington commented on #2813
I'm having this same issue using a 3080
Hashcat Version: 6.2.2
NVIDIA Drivers Version: 471.11
CUDA Version: 11.4.56
OS: Windows 10 (21H1  build 19043.1081)

When trying to do actual work instead of a benchmark, I get mention of needing 1100 MB of host memory, but my GPU only has 10GB (with about 9GB free) as seen in this screenshot...

![image](https://user-images.githubusercontent.com/40607634/12

[2021-07-04 16:22] jsteube commented on #2862
There is an endless number of level of detail of possibilities. User will ask for more and more things like placing static values somewhere in between or capitalizing the result or encode as base64 before hashing with XXX hash.

This kernel would ultimately grow into something that is not only difficult to maintain, but the more complex the code gets, the more unstable OpenCL drivers are likely no

[2021-07-04 16:22] #2862 closed, assigned to nobody

[2021-07-04 16:25] jsteube commented on #2813
I think the driver reports an invalid error message. Typically a result of an out-of-boundary read or write. You can use -d 2 instead.

[2021-07-04 17:27] SK83RJOSH opened #2864 "Add keep guessing warning (OPTS_TYPE_SUGGEST_KG) to Java Object hashCode (mode 18700)"
**Describe the feature**
Java Object hashCode is a pretty poor  hashing algorithm in terms of collisions and I think this hash mode needs this option in order to get useful results in some cases.

**Current behavior**
The current behavior is that there's no warning about the high number of collisions.

**Expected behavior**
That the end user gets a warning about hash collisions.

**Hashcat version

[2021-07-04 17:32] SK83RJOSH commented on #2864
Actually I may have jumped the gun here when checking the code to see if this mode needed to be explicitly supported, I see now that it seems to work as expected but it'd be nice to get the warning added in any case. I've updated the issue accordingly. 👍

[2021-07-04 18:16] matrix commented on #2818
@123Serg now you have flexible data length. When you have time, try with different wallets to understand if works.
Thanks

[2021-07-04 22:56] 123Serg commented on #2818
Hey I've tested with my test hashes, it works fine. I'll try now to bruteforce some wallets that I have. If there will be any problems I will tell you.
Thank you very much

[2021-07-05 06:41] dialap commented on #2818
Everything works great THANK YOU.

[2021-07-05 07:10] jsteube commented on #2507
Yeah there's also newer hashcat verison, but I doubt it has an influence. This is why we added startup warning to Apple + GPU combination. I tried to find workarounds of the driver bugs, but is not always possible.

[2021-07-05 07:26] jsteube commented on #2864
True. Added with commit https://github.com/hashcat/hashcat/commit/a2f883396b1299bade079315ecd07f78c8fbe6bc

[2021-07-05 07:26] #2864 closed, assigned to nobody

[2021-07-05 16:10] Datacrass opened #2866 "OS X 10.15.7 (MBP 2017/ AMD Radeon Pro 555/Intel(R) HD Graphics 630) OpenCL/shared.cl build failed"
Hello,

I downloaded and compiled the latest version of hashcat and am receiving the following error consistently.

` Kernel /Users/USER/hashcat/OpenCL/shared.cl build failed.'`

To begin, I downloaded the most recent source code from GitHub and compiled it. I then attempted to run the binary.
Command used:
[code]

TRUNCATED

[code]
I have tried with the -d1-3 flags and this occurs on all availabl

[2021-07-06 07:50] jsteube commented on #2818
Algorithm was merged to GitHub master. Thanks for great contribution!

[2021-07-06 07:50] #2818 closed, assigned to nobody

[2021-07-06 12:02] matrix commented on #2818
@123Serg @dialap could you share a test wallet? In this way we can write the tool to extract the hash to crack with hashcat.

[2021-07-06 13:59] 123Serg commented on #2818
`{\"data\":\"wM+CSmCIIlaofXHPxCRFqbcPvEDZESBYM1XdAE8VFanedCIXvDEEt15nhzdv1pqzkW0MCQDBA5T1W1/Ltg7lKBszkoJJ1PtVHOpTn/afhvLyIp2VBBV1Tuj4s8LGo2GM9KOHn1Hn5BC1YhjP56opGrJlsIT9qnuGYHT8EtA5IiHP4zB4fwgGqDhtX+QUJi4rdm+apXZ1DpRvDq5J+bCca2GHXzU5H57Esn3THPXev3RdlkmjhuXVjV8=\",\"iv\":\"ejhZW94EsJZ049Sb/at0Xg==\",\"salt\":\"jgW3gi0eyPtXXguqMzi6uGyuR6m+lgQXw8onqivK5w0=\"}`
password is: mysecretpassword
First repl

[2021-07-06 14:58] roycewilliams commented on #1058
Also useful if a defender is naively inverting Markov in order to maximize hashcat resistance:

https://twitter.com/jmgosney/status/1412421337591730184

[2021-07-06 15:03] epixoip commented on #1058
@roycewilliams you are a fucking visionary, haha.

This request should be reopened in light of Kaspersky password manager!

[2021-07-06 15:11] matrix commented on #2818
If you also have the big json, please attach it. We can add an external tool to facilitate extraction (reducing user interaction and also related errors).
Thanks!

[2021-07-06 15:15] matrix commented on #2866
Hi, try make clean and then make DEBUG=1
You got extra debug messaging, could help us understand what happens.
Thanks

[2021-07-06 16:28] jsteube commented on #1058
Hey, what's the noise in this 3 year old thread? IIRC, the solution we discussed worked fine, does it not?

[2021-07-06 16:29] RichiH commented on #1058
Specific to Kaspersky, it might make sense to allow specifying a time range in which the passwords may have been generated to speed up cracking. That might fit better into a new issue, though.

[2021-07-06 17:21] jsteube commented on #1058
I mean this is really simple to add code like this. I'm a pragmatic guy. Instead of debating for years, I'll just add it.

But just to double check with everyone, here's a small example of how it would affect the ordering:

- Have a close look!
- Think of a database trained with only a single password which is just a single letter 'b'.  So 'b' will be on top position.
- We use ?l mask for some att

[2021-07-06 17:39] epixoip commented on #1058
Extreme example, indeed 🙂 I don't think that will cause much concern for the intended purpose, and I would say please proceed with implementing this. Perhaps with `--markov-inverse` switch, or as @yosignals suggested, `--vokram` 😆

Just to catch you up, this request has gone from "curious" to "HIGHLY INTERESTING" in the past few hours, as it was discovered that the Kaspersky password manager appea

[2021-07-06 18:21] Datacrass commented on #2866
I re-compiled with the DEBUG=1 flag after running a make clean. The output from the command is below:

Command:
`sudo ./hashcat -b `

[code]

[2021-07-06 18:44] jsteube commented on #2866
Did you try:

export CL_LOG_ERRORS=stdout

Before running hashcat? Any additional logging?

[2021-07-06 19:26] Datacrass commented on #2866
Tried:
`export CL_LOG_ERRORS=stdout`

No change to any output received. Still just:

[code]

[2021-07-07 08:34] jsteube commented on #1058
Added with commit https://github.com/hashcat/hashcat/commit/f146a05878f923b8c5d466214ff27257801c82e2

[code]

[2021-07-07 08:42] RichiH commented on #1058
https://github.com/hashcat/hashcat/commit/f146a05878f923b8c5d466214ff27257801c82e2 is looking good, yes. Thank you for this!

[2021-07-07 08:57] RichiH opened #2868 "Generate Kaspersky Password Manager passwords based on time range in which they might have been created"
Kaspersky Password Manager used to generate passwords with current time being the only source of entropy. As such, knowing in which time range a user may have created a password is enough information to fully exhaust the possible keyspace.

**Describe alternatives you've considered**
None known

**Provide an example hash/database/file and a known correct password**
U[Gt6MjzWxdg

**Explain how the

[2021-07-07 09:05] jsteube commented on #2868
I'm not sure if this request is appropriate to hashcat. It depends on what you are looking for.

1. If you are looking for a plugin in order to crack KPM, that would be a valid request. However, there's no information known about the algorithm being used, as well there's no kpm2hashcat tool. We need both to start working. In this case you should leave the FR open and ideally provide the required i

[2021-07-07 09:42] RichiH commented on #2868
I am not **certain** myself, but I think it's a case of 1. as those passwords will be used in many places. I am not yet aware of more detailed information than what https://donjon.ledger.com/kaspersky-password-manager/ provides, but I expect more eyes will look into this as it's an area of current interest. When/if I find them, I would link to them from here.

The CCs might help pull additional in

[2021-07-07 10:08] jsteube commented on #2868
Wait, just for clarification, the KPM is a tool like KeePass where users store their personal passwords in an encrypted database, right?

If so, the goal is to find the master password that protects the database. But technically, these are two different functions. One function is to protect the database with some encryption and one function to generate (good) passwords.

OK, there is a chance that

[2021-07-07 10:24] NilsOlze commented on #60
Does this mean someone is currently working on it? :)
If so, I would be really happy :p

[2021-07-07 12:37] Xanadrel commented on #2726
Same as @jsteube, I don't have the issue:

GPU: `Time.Estimated...: Wed Jul 07 14:28:43 2021, (1 min, 50 secs)`

CPU: `Time.Estimated...: Wed Jul 07 19:42:09 2021, (5 hours, 14 mins)`

@sectroyer You could include the output of `./hashcat.bin -I` too.

Also; reporting issues while using `--force` is not recommended.

[2021-07-07 13:13] sectroyer commented on #2726
@jsteube, @Xanadrel did you have 12 hashes in potfile?

[2021-07-07 16:31] jsteube commented on #2726
We still need the files to reproduce. I had asked for them in one of my first comments. Please provide all data we need to reproduce locally.

[2021-07-07 19:51] sopsmattw opened #2869 "HW Temp Pause"
**Describe the feature**
on warmer days, I have a card or two that run warmer than the others. Occasionally, one card will hit the threshold and the whole  job will abort (by design). Is it feasible to add a feature similar to --hwmon-temp-abort that pauses the job until the temp drops to a nominal level? Can this be done per card? maybe pass upper and lower values to it?  (--hwmon-temp-pause 55:8

[2021-07-07 19:55] roycewilliams commented on #1456
Concur that -m makes this largely obsolete - closing!

[2021-07-07 19:55] #1456 closed, assigned to roycewilliams

[2021-07-07 20:03] Xanadrel commented on #2869
Something a bit like that: https://github.com/hashcat/hashcat/commit/b864fa5ba74d9b1e9dafb1d6ee4bbfea6d954ce0

So instead of a new feature, you can probably play with the power limit of your gpus (which can be set per gpu even), so they don't get too hot.

[2021-07-07 20:16] #2869 closed, assigned to nobody

[2021-07-07 21:00] roycewilliams commented on #1058
Works as advertised!
[code]

[2021-07-08 02:19] koalazak commented on #2866
I have similar issue in macOS 10.15.7 with AMD Radeon Pro 555X using compiled latest github code:

with `export CL_LOG_ERRORS=stdout`

[code]

is it related?

[2021-07-08 04:28] jsteube commented on #2866
I think yes, but without an error message we can't do anything.

[2021-07-08 10:20] lukasz-cr opened #2871 "Hash not broken even though password is generated by rule"
I am using HaschCat 6.2.2. The same problem occurs when I use HashCat 6.2.1.

I wanted to break this hash: $1$kik$hPT5.9swyJPYLyMlDthqU/ which corresponds to TheWeeknd123

When I use this command
.\hashcat.exe -O -w 3 -m 500 -a 0 md5crypt.txt dict.txt -r passphrase-rule1.txt -r passphrase-rule2-shortened.txt --stdout
I see that TheWeeknd123 is generated, and if I capture the output of this command

[2021-07-08 10:27] matrix commented on #2866
@koalazak @Datacrass please share the full output of clinfo. Thanks

[2021-07-08 10:33] Xanadrel commented on #2871
Can reproduce, can you try using latest beta from here: https://hashcat.net/beta/ ?
Also it will probably be cracked if you use -S with hashcat 6.2.2 (not beta).

[2021-07-08 10:46] jsteube commented on #2871
I think this is a double post, we had it fixed a few days ago with commit https://github.com/hashcat/hashcat/commit/8ebf4b98584213891f6e48570c91c31d22b80a81

Please retry with latest beta

[2021-07-08 10:50] lukasz-cr commented on #2871
Yes, I have tested it using the beta version, and the hash got cracked properly.

[2021-07-08 10:50] jsteube commented on #1834
Problem with stdin is that it can work only for -a 0 kernel, but hybrid kernel are -a 1 kernel.

[2021-07-08 10:52] Xanadrel commented on #2871
Closing, duplicate of #2823

[2021-07-08 10:52] #2871 closed, assigned to nobody

[2021-07-08 11:18] koalazak commented on #2866
here is the `clinfo -a` output:
https://justpaste.it/80iac

[2021-07-08 11:32] matrix commented on #2866
As you can see it is a problem with Apple, and not with hashcat ... all programs that use OpenCL as a hardware accelerator probably won't work either.

[2021-07-08 11:39] koalazak commented on #2866
to be honest that output tells me nothing haha. I don't know what to see exactly there or how to interpret the errors.
Any insights?

[2021-07-08 11:56] matrix commented on #2866
your output it's full of errors :) You could try reinstalling the current version of osx to see if it eventually fixes.
However it is just an intuition, nothing official, only apple can really solve this issue.

[2021-07-08 12:25] MikeFarrington commented on #2813
No, -d 2 wasn't working either. A slightly different out of memory error:
`clEnqueueNDRangeKernel(): CL_OUT_OF_HOST_MEMORY`

![image](https://user-images.githubusercontent.com/40607634/124920964-e5afff00-dfc5-11eb-9192-6acd54469e3a.png)

[2021-07-08 12:26] jsteube commented on #2866
It's probably like this:

[code]

but also this:

[code]

Failing without any error message. Please reinstall the system. Probably same applies to @Datacrass

[2021-07-08 12:36] jsteube commented on #2813
Here's the exact same Driver/CUDA version. I even ran it from powershell :)

![Untitled](https://user-images.githubusercontent.com/10434361/124922365-b87d4400-dff9-11eb-92aa-10d1b2b733a2.png)

[2021-07-09 11:47] 123Serg commented on #2818
Hey, I have some big hashes and when try to brute them I have token length exception, can you please multiply 2x-4x current limit?

I'll provide big json example file later, now I have no this files, only extracted hashes.

Thanks

[2021-07-09 19:47] markddrake commented on #2186
Trying to recover the password for a file containing IMAGES. Smallest Image in the file

RA9A2280.JPG PKZIP Encr: cmplen=4686704, decmplen=4721153

generates the following hash file

-rw-r--r-- 1 root root   9373483 Jul  9 19:42 zip.hash

Looks like I am 'SOL' ?

[2021-07-11 11:48] mfu-mcosys commented on #2384
Hm, 1 year+ and still no 16byte / k1=k3, shit. I guess there is are huge demand on this. :)

[2021-07-12 11:50] pellekuiters opened #2876 "Auto-tuning outside kernel can cause unpredictable behavior for tmp_t structs on CUDA"
**Describe the bug**
When performing auto-tuning for an outside attack, the loop function is repeatedly called. When the plugin has a 'tmp_t' structure, with for example a length field, the behavior can be unpredictable. During auto-tuning, the init() function is not (always) called before the loop() function so the value of this length field is unpredictable. The length field may contain whatever

[2021-07-12 22:54] thatux commented on #2838
Thanks! Sure hashcat cracks the hash, as for this attack it only takes the owner-hash-part into account in the attack, it doesn't even look at the user password. However m25400.pl did, as it tries to generate the user-hash-part again, based on the input., yet it is doesn't the user-password (it just reused the owner-password for that): https://github.com/hashcat/hashcat/blob/master/tools/test_modu

[2021-07-13 19:45] sectroyer commented on #2726
As I said in pwd file I only have this:
[code]

I have downloaded fresh hashcat and put in potfile 12 fake pws:
[code]

And as a result I got:

[code]

It really doesn't matter what is in potfile. It's just important to have 12 of 14 "cracked" 😄

[2021-07-13 19:59] Xanadrel commented on #2726
Ok can reproduce, I don't get next big bang, but 237 years, even though it ends after under 2 minutes.

[2021-07-14 08:28] jsteube commented on #2726
Fixed with commit https://github.com/hashcat/hashcat/commit/a82fce2c8f302309d190aac9743a5ef986bffb37

[2021-07-14 08:28] #2726 closed, assigned to sectroyer

[2021-07-14 08:31] sectroyer commented on #2726
I was able to reproduce it with latest version. It looks it depends on power of gpu. Once I switched to very poor one I got it once again:
[code]

[2021-07-14 08:34] jsteube commented on #2726
Problem was fixed few minutes ago

[2021-07-14 14:01] jsteube commented on #2726
Please confirm all problems fixed

[2021-07-14 15:30] DaniloNC opened #2880 "[FR] allow --debug-mode with association attack (-a 9)"
**Describe the feature**
The new association attack is great for discovering new (random) rules but it is lacking support to --debug-mode flag, requiring additional work to discover which rules were successful.

**Current behavior**
[code]

**Expected behavior**
The `debug-mode` and `debug-file` flags would work with the association attack (-a 9)

**Hashcat version (please complete the following i

[2021-07-17 18:36] matrix commented on #2324
Hi,
@xSn0wstorm @trounce1 check this #2884 :)

[2021-07-19 09:54] jsteube commented on #2876
Fixed with https://github.com/hashcat/hashcat/pull/2886

[2021-07-19 09:54] #2876 closed, assigned to nobody

[2021-07-20 07:15] metulski2013 opened #2887 "--veracrypt-pim-start and --veracrypt-pim-stop doesn't work in 6.2.3"
--veracrypt-pim-start and --veracrypt-pim-stop doesn't work in 6.2.3. It works only, when start and stop are the correct PIM like

"--veracrypt-pim-start=999 --veracrypt-pim-stop=999"

[2021-07-20 07:17] jsteube commented on #2887
Could you please add a header so that we can reproduce locally

[2021-07-20 08:01] metulski2013 commented on #2887
failure

![failure](https://user-images.githubusercontent.com/17407529/126284144-c4b07497-0357-4ab9-9ac5-ee9861a18feb.PNG)

[2021-07-20 08:01] metulski2013 commented on #2887
correct

![correct](https://user-images.githubusercontent.com/17407529/126284177-3e86b5f3-1e84-4197-a820-6cf4630edb15.PNG)

[2021-07-20 08:04] jsteube commented on #2887
So you are saying that this problem occurs only with 6.2.3, but not with older versions?

[2021-07-20 08:06] metulski2013 commented on #2887
don't know

[2021-07-20 08:08] metulski2013 commented on #2887
I gave you an case and now i'm afraid because of the PIM problem.

[2021-07-20 08:19] metulski2013 commented on #2887
well, in the first beta, where PIM was supported, it works perfekt.

[2021-07-20 08:28] jsteube commented on #2887
I can reproduce the problem, thanks for reporting.

[2021-07-20 08:31] jsteube commented on #2887
What I found out so far:

- Problem only occurs on CPU cracking
- Problem is related to vector size SIMD. If you disable it, it will work on CPU: --backend-vector-width 1

[2021-07-20 08:34] metulski2013 commented on #2887
perfect, works!

[2021-07-20 09:35] jsteube commented on #2887
Fixed with commit: https://github.com/hashcat/hashcat/commit/777512e862a5321d76801d0a21585dc6ca6820ec

This was an excellent bug report, thanks again.

There's also a new beta on hashcat.net/beta in case you want to use this.

[2021-07-20 09:35] #2887 closed, assigned to jsteube

[2021-07-21 02:00] Shooter3k opened #2890 "[FR] [h]ibernate option"
It would be great to add a hibernate option.

This option would allow a person to hit H and 'hibernate' hashcat. The hibernate option would be similar to pause except it would remove the data from gpu memory and put hashcat into a CPU idle status and possibly limit the ram it's using.  This option would be very useful when running multiple hashcat sessions concurrently and you need the GPU memory

[2021-07-21 02:07] roycewilliams commented on #2890
This could work similarly to what happens when quitting and restoring later, but without all of the overhead of doing that manually. I think it could be pretty useful.

[2021-07-21 11:06] RichiH commented on #2868
After some reflection, I believe you are right. Closing.

[2021-07-21 11:06] #2868 closed, assigned to nobody

[2021-07-21 17:08] ghost opened #2891 "hipFuncSetSharedMemConfig error"
**Describe the bug**
I get the error messages "hipFuncSetSharedMemConfig is missing from HIP shared library".
But when I search for this message there should never give out an error. Just ignore the message.
Here is the page I found about hip: https://rocmsoftwareplatform.github.io/hipfort/interfacehipfort_1_1hipfuncsetsharedmemconfig.html

**To Reproduce**
./hashcat.bin -b -m 0, as example would

[2021-07-21 17:15] jsteube commented on #2891
Thanks for comprehensive report. I'm not 100% certain, but there are good chances is a problem related to your ROCm version 3.8.0-30. I am also using Ubuntu 20.04, but using the official ROCm repository which already installed ROCm 4.2.0 for me. The error should not cause any problems, because we ignore hipFuncSetSharedMemConfig() currently, but want to make use of it after hipFuncSetAttribute() i

[2021-07-21 17:19] ghost commented on #2891
I installed ROCm 4.2.0 but it didn't work for me. The reason I'm still on ROCm 3.8.0-30. I needed to downgrade to this version because the newest one didn't work well.

[2021-07-21 17:21] jsteube commented on #2891
OK, then I'll disable the function lookup as long we don't need it. Just keep it in mind, somewhere in the future it might come back, but maybe then you can use a newer version of ROCm, too.

[2021-07-21 17:24] ghost commented on #2891
Thanks for the answer. I will ignore this message from hashcat.

[2021-07-22 03:25] roycewilliams opened #2893 "first byte silently used when multi-byte separator is requested"
**Current behavior**
Multi-bye separator arguments are silently accepted, truncating to the first byte.

**Expected behavior**
When a multi-byte separator is requested (probably accidentally), Instead of silently discarding the rest of the string, either throw an error, or use the entire string.

Discovered accidentally by a user. If someone tries to specify a different potfile:

[code]
... but ac

[2021-07-22 09:48] jsteube commented on #2891
Handled with commit https://github.com/hashcat/hashcat/commit/5024865d87ca39e45021e7b0be85384ade3c9870

[2021-07-22 09:48] #2891 closed, assigned to nobody

[2021-07-22 10:37] Chick3nman commented on #2890
While I can see how this could be a little useful, I'm not sure this would be worthwhile to add as its own function. This would leave hashcat in a bit of an odd place, essentially the same as quitting with `q` from what I understand but still running, which could be a bit more complicated than it may seem on the surface. We would need to run all of the initialization stuff over again, as pointed o

[2021-07-22 10:47] Chick3nman commented on #2893
I can reproduce, this looks like its due to a bit of a naive parse for that option/arg.

Relevant line:
https://github.com/hashcat/hashcat/blob/master/src/user_options.c#L485

We should be handling this like we are with other user options, setting a changed bool and then verifying that the input is only 1 byte if it has been changed by the user.

[2021-07-22 11:47] Shooter3k commented on #2890
When working on hash lists it seems very very common for people to have a big list running and then want to squeeze in some 'let me check this a second' attacks. If a person stops the large attacks a lot of time is lost waiting for things to gracefully stop and start back up.

The primary objective here is to release the data from gpu memory so a quick resume is possible without having to restart

[2021-07-22 12:30] jsteube commented on #2890
From a technical perspective this is not fully thought out. The data has to go somewhere to load it on resume, even if that is just temporarily, but it this place can't be the host memory, because there's many scenarios (especially in professional use) where we have more GPU memory than host memory. IOW, is has to go to disc. But if it goes to disc, there's no advantage over using quit and restore

[2021-07-22 13:12] roycewilliams commented on #2890
Most beginning users would not need this feature. But most power users will eventually reach a point where it will make sense to write a script to wrap hashcat to recreate this feature outside hashcat - because it will save time and improve consistency in "accuracy" (of being able to successfully and quickly "resume" an attack, without having to track session names).

I personally would love this

[2021-07-22 13:51] Bogdan107 opened #2895 "compilation fails with zlib-ng"
**Describe the bug**
I try to switch zlib to zlib-ng in my system.
Hashcat compilation fails with many errors, like:
[code]
Main message is _include/ext_lzma.h:12:10: fatal error: minizip/ioapi.h: No such file or directory_.

**To Reproduce**
Gentoo.
Package sys-libs/zlib-ng compiled without "compat" flag.
Package sys-libs/zlib removed from system.
Package sys-libs/zlib-ng re-compiled with "compat

[2021-07-22 14:39] #2890 closed, assigned to nobody

[2021-07-22 14:50] jsteube commented on #2895
This is not a dependency from hashcat, but from LZMA SDK. We can't do anything.

[2021-07-22 14:50] #2895 closed, assigned to nobody

[2021-07-22 16:55] jsteube commented on #2893
Fixed with commit https://github.com/hashcat/hashcat/commit/f9e74045b5284b1317fa01271138cd10ce853516

[2021-07-22 16:55] #2893 closed, assigned to jsteube

[2021-07-22 16:59] Bogdan107 commented on #2895
Problem resolved by compilation of hashcat with USE_SYSTEM_ZLIB=0 variable.
Bug for ebuild [reported](https://bugs.gentoo.org/803395).

[2021-07-28 08:02] bugs-jjs opened #2909 "linux command for hashcat"
i used command
git clone https://github.com/hashcat/hashcat.git

after this i used
make
or
make install

not working

[2021-07-28 08:51] Saikatsaha1996 commented on #1017
I am install successful
Chroot Linux (Linux deploy)
Ubuntu 20.04
Adreno 650 gpu
My Clinfo showing
OpenCL device type cpu...
Why showing device type cpu?..
In my android device already available OpenCL 2.0
Any solution for this?

[2021-07-28 11:36] sigkill opened #2910 "hashcat crashing when offloading to Intel Xeon 5110P"
Attempting to run the benchmarks on version 6.2.3 but encountered a Seg Fault as follows:

[code]

It does this in standard benchmark mode as well and has never gotten past this particular mode.

System is using Intel OpenCL with a few old Xeon PHI 5110P devices. Are there any steps I could do to provide further info, or gather more output from the segfault?

[2021-07-28 12:33] ghost opened #2911 "Hashcat not working"
Unable to start. Output below:

[code]

[code]
Kernel: 5.11 (latest updated)

[2021-07-28 12:35] roycewilliams commented on #2911
It looks like the error contains your answer. Do you have one of the
required platforms installed?

On Wed, Jul 28, 2021, 4:34 AM TheJoker ***@***.***> wrote:

[2021-07-28 12:53] ghost commented on #2911
Yes, I have NVIDIA. To use it on oryx7 from system76, you have to change the graphics card which I have done and always do. For some reason though, it doesn't work. And yes, the version is >440.64. I opened the issue here because I guessed that it could be a hashcat problem since I have NVIDIA running

[2021-07-28 13:18] xSn0wstorm commented on #2324
Amazing work! Just tested it and it’s working perfectly. Thank you :)

[2021-07-30 06:59] therealartifex opened #2913 "SHA1DASH / sha1(--$salt--$pass--)"
**Is your request based on a publicly known cryptographic schema and where can we find information about?**
For instance:
SHA1DASH is based on salted SHA1 with a prepended salt and two dashes ("--") surrounding and separating the salt and password.

**Describe alternatives you've considered**
The only alternative is to manually process your entire hashlist to add the dashes before and after the sa

[2021-07-30 08:47] Chick3nman commented on #2913
I've commented on your PR already but I'll comment the same here for others to see it:

This hash algorithm, "SHA1DASH" as its known colloquially, is actually simply a slightly older variant of the default hashing scheme used by "Ruby on Rails Restful-Authentication", which you will see we have currently implemented as 19500. I would name and classify this mode following the actual origin of the a

[2021-07-30 08:53] Chick3nman commented on #2909
We need significantly more information about the problem than just that to be able to diagnose this.

[2021-07-30 08:55] Chick3nman commented on #2911
Could you post the output of `clinfo` as well as `nvidia-smi`? It looks like you are missing some critical headers or the runtime is missing from path or something. Need more info to be able to tell more.

[2021-07-30 08:58] Chick3nman commented on #2910
Could you post the information for those cards? I'm not sure if we have anyone that has one to test a fix but having the output of  something like `clinfo` may give us some more insight into if these are behaving like GPUs or like CPUs in the intel runtime. If you could also provide some information about which version of the intel runtime you have installed, that would also be good.

[2021-07-30 14:39] KadrumConseil commented on #2818
Hi,
Is it possible to recover pass phrase from vault string (data,iv,salt) without the password ?
Many thanks.

[2021-07-30 17:54] matrix commented on #2818
Please send us something to do some tests

[2021-07-30 18:42] KadrumConseil commented on #2818
Could you please explain me the good syntax on hashcat , i have the vault content but don't know how to pass it to hashcat. Many thanks !

[2021-08-01 18:18] D3vil0p3r opened #2923 "Hashcat - WPA-EAPOL-PBKDF2 - Not show that it found the password during the running"
Hello everyone,
I'm looking for an issue on hashcat where, if I try to crack a WPA key by passing as input a .hccapx file by using a wordlist with the real password, the hashcat process goes to Exhaust without finding the solution.
Doing some analysis, and watching some already Issues opened here (i.e. #2328 by @NimaaaNomaaa), I read that the conclusion was that the .hccapx files were junked becau

[2021-08-01 19:23] ZerBea commented on #2923
No problem here, running hash mode 22000:

converting dump file to hash file:
[code]

Runnig hashcat on that hash file:
[code]

Conclusion:
For me it looks like the tool used for capturing and attacking the network is buggy.
Too many deauthentications transmitted.
Deprecated hash mode 2500 is used instead of new hash mode 22000
cap2hccapx is outdated.

The issue is related to the dump tool, the at

[2021-08-01 19:33] jsteube commented on #2923
Correct, hccapx is outdated, please stick to -m 22000.

[2021-08-01 19:33] #2923 closed, assigned to nobody

[2021-08-01 19:43] ZerBea commented on #2923
I recommend to use hcxdumptool to capture the traffic and hcxpcapngtool to convert the traffic to hash file 22000.
Than run hashcat in mode 22000

BTW:
Both PSKs are recovered by wpa-sec, too (which run hcxtools in background):
https://wpa-sec.stanev.org/?search=cc%3A40%3Ad0%3Aa4%3Ad0%3A96

[2021-08-01 21:04] ZerBea commented on #2923
@D3vil0per , may I ask a question:
What tool do you use to capture the traffic and to attack the target?
48668 deauthentications to get a get a handshake is really excessive:
DEAUTHENTICATION (total).................: 48668
There are also many timestamp errors inside the dump file, which is a bug of the capturing tool.

[2021-08-01 21:09] D3vil0p3r commented on #2923
@ZeaBea the .pcap file comes from an exercise of Hack The Box environment (https://www.hackthebox.eu/) where they provided directly the .pcap file but I don't know which capturing tool they used.

[2021-08-01 21:18] ZerBea commented on #2923
Thanks for your answer.
A good dump tool / attack tool in combination with a good conversion tool let hashcat work as expected.
The new hash mode 22000 will make life easier. Atom did a great work, here.

BTW:
I edited my comment:
https://github.com/hashcat/hashcat/issues/2923#issuecomment-890572981
to explain what exactly happened.

[2021-08-01 21:25] ZerBea commented on #2923
To verify my comments you can run the following commands:
$ wget https://wpa-sec.stanev.org/dict/cracked.txt.gz
$ hcxpcapngtool -o test.hc22000 corp_question1-01.cap
$ hashcat -m 22000 test.hc22000 cracked.txt.gz

hashcat will do the rest:
92a9fe85d5656281517162c33c0f62b6:cc40d0a4d096:48e244a7c4fb:CORP-WIFI:1212312121
b7703fd2171bec7933ffc900faa6eb5b:cc40d0a4d096:80822381a9c8:CORP-WIFI:rockyou1
Re

[2021-08-02 07:30] D3vil0p3r commented on #2923
@ZerBea It works following your suggestion.
About cap2hccapx.bin, I know it is part of hashcat-utils repository. In your opinion, should I open an issue there for cap2hccapx.bin or this tool is out of support?

Thank you

[2021-08-02 07:40] ZerBea commented on #2923
hcxtools provide several tools to work on WPA related traffic and hashes. To get information about the hash file, you can use hcxhashtool:

[code]

As you can see, we have an authorized CLIENT which belong to the NETWORK:
[code]

and a not authorized CLIENT which doesn't belong to the NETWORK:
[code]

Using hcxtools in combination with hashcat, you will get the PSK of both of them for the price (P

[2021-08-02 07:52] jsteube commented on #2923
No need to, this tool is deprecated. Please follow @ZerBea suggestions

[2021-08-02 07:54] ZerBea commented on #2923
I recommend this procedure on every new dump file:
upload dumpfile to wpa-sec (either via web interface or via wlancap2wpasec and wait a day)
Than get the results:
$ wget https://wpa-sec.stanev.org/dict/cracked.txt.gz
$ hcxpcapngtool -o test.hc22000 corp_question1-01.cap
$ hashcat -m 22000 test.hc22000 cracked.txt.gz

Try to get PSK from WLAN traffic: attack network by hcxdumptool/hcxlabtool
$ hcx

[2021-08-02 16:05] ZerBea commented on #2923
Some words about this warning:
[code]

Do not use filter options on the receiving branch. Everything that is filtered out is gone forever.
Do not use cleaning tools which remove useful/important frames from the dumpfile.
hcxpcapngtool is able to detect this behavior and print a warning.

Please read this comment:
https://github.com/evilsocket/pwnagotchi/issues/835#issuecomment-598597214
and make u

[2021-08-03 10:51] ghost commented on #2911
Hi @Chick3nman
Not sure what `clinfo` is but `nvidia-smi` returns "No devices were found"

[2021-08-03 11:20] jsteube commented on #2911
Not a hashcat issue. Hashcat issues are bugs and feature requests only. Please use hashcat forums instead.

[2021-08-03 11:20] #2911 closed, assigned to nobody

[2021-08-03 19:30] D3vil0p3r commented on #2923
Hello,
I confirm what you reported.

Thank you for your support.

[2021-08-04 07:16] ZerBea commented on #2923
Glad to hear this.
The new has mode has many advantages - that's why Atom decided to add it to hashcat.

[2021-08-04 10:55] AhmetPayaslioglu commented on #1481
same problem

[2021-08-05 03:14] adamcantwell80 opened #2925 "-m9700 Dictionary attack errors out in OpenCL Kernel"
**Describe the bug**
Attempting to run a dictionary attack on a 9700 hash I get an error message as below;

[code]
.\hashcat.exe -m9700 diary.hash -a0 .\wordlists -w 4 --outfile=diary.txt -O

**Expected behavior**
Hashcat should run and start applying the dictionary attack against the file.

**Hardware/Compute device (please complete the following information):**
- RTX3080
- NVidia Driver v471.41

[2021-08-05 05:37] Chick3nman commented on #2925
It appears to be the AMD APP runtime causing the problem since it looks related to Device #3. What hardware device is it that is using that runtime?

[2021-08-06 06:41] jsteube commented on #2925
[code]

This is the AMD runtime, NV does not use HSAIL. The AMD runtime which is broken. Please uninstall it.

Since this is not a hashcat problem I am closing the issue.

[2021-08-06 06:41] #2925 closed, assigned to nobody

[2021-08-06 06:44] jsteube commented on #2910
It's crashing inside the JiT for the PHI, not hashcat. I think they are simply too old now and not maintained/updated with a modern JiT. In theory by adding -d 1 it should work, but I'd recommend to uninstall the PHI.

This is not a hashcat problem, so I will close this issue.

[2021-08-06 06:44] #2910 closed, assigned to nobody

[2021-08-06 06:46] jsteube commented on #2866
No response from OP and not a hashcat issue anyway, so closing the issue. Feel free to reopen with new information.

[2021-08-06 06:46] #2866 closed, assigned to nobody

[2021-08-06 06:47] jsteube commented on #2909
No response from OP. Feel free to reopen with more information.

[2021-08-06 06:47] #2909 closed, assigned to nobody

[2021-08-06 12:33] sigkill commented on #2910
Sorry I was late to respond. I realize issue is closed, but this is for a research project, any help or advise is appreciated even if it can't be fixed. Apologies for not getting back to you in time.

clinfo as follows:

`clinfo
Number of platforms                               1
  Platform Name                                   Intel(R) OpenCL
  Platform Vendor                                 Int

[2021-08-06 12:33] sigkill commented on #2910
Will try the -d 1 option later today.

[2021-08-09 13:40] Bogdan107 commented on #2895
`ioapi` interface does not supoprted in minizip-ng. Details at [https://github.com/zlib-ng/minizip-ng/issues/447](https://github.com/zlib-ng/minizip-ng/issues/447)

[2021-08-09 16:09] #2913 closed, assigned to nobody

[2021-08-10 20:28] ghost opened #2927 "Metamask (26600) Token length exception"
Try to submit hash 1532 word lenght, hashcat error
`Hashfile 'C:\hashcat\task.txt' on line 1 ($metam...***): Token length exception
No hashes loaded.`

[2021-08-11 14:08] m0rtalis opened #2928 "Stack smashing when cracking WinZip"
**Describe the bug**
Hashcat terminates with "stack smashing detected" when cracking WinZip hash.

[code]
**To Reproduce**

1. Create ZIP-Archive with one file with AES256 encryption
2. Extract hash with `zip2john` (Alternative use provided file [soupsieve-2.2.1-py3-none-any.zip.txt](https://github.com/hashcat/hashcat/files/6968953/soupsieve-2.2.1-py3-none-any.zip.txt))
3. Remove path on the front

[2021-08-11 14:32] jsteube commented on #2928
Hey thanks for report but wasn't this fixed with PR https://github.com/hashcat/hashcat/pull/2915 already? I think you are using an old version. Please retry with latest version and update status here or close the issue if fixed.

[2021-08-11 17:41] jj2hh2hasdf opened #2929 "Small wordlist slowness/not using all gpus"
**Describe the issue**
The issue is that hashcat is isn't using all gpus/1 gpu full speed when using smaller wordlists... this is a huge problem when it comes to slow hashes like bcrypt etc..

**To Reproduce**
Run 100k bcrypt hashes + 1k wordlist

**Expected behavior**
I expect it to use all gpus available and maybe at least use the same amount of power as it uses normally.

Example:

If I would h

[2021-08-11 17:47] Chick3nman commented on #2929
This is not an issue and is simply related to the way we distribute work. Your attack design can be changed to fix this issue, as it stems from not understanding the underlying design architecture and not from an issue/problem.

https://hashcat.net/wiki/doku.php?id=frequently_asked_questions#how_is_it_possible_that_hashcat_does_not_utilize_all_gpus

You could pass the `-S` flag to indicate to hash

[2021-08-11 17:47] #2929 closed, assigned to nobody

[2021-08-12 21:56] matrix commented on #2401
Hi, we can close this issue.
Bonus: a modified tool from Applied Risk to extract SNMPv3 hashes in hashcat format here https://github.com/matrix/snmpv3brute

[2021-08-12 23:58] ghost commented on #2927
If the metamask vault contain more than 5 wallets, it has long hash, hashcat can`t read it

Hashfile 'C:\work\hashcat\task.txt' on line 1 ($metam...==): Token length exception
No hashes loaded.

[2021-08-13 06:51] jsteube commented on #2927
@kipilk0 Did you try using @matrix new extraction tool?

[2021-08-13 08:03] SoSander opened #2933 "Generate rules (upgrade)"
I’ve got some idea that it would be nice if you could select a type of rule generation for example if I only need append and prepend rules that I could do --generate-rules-funcs-allowed=a,p and it would only generate rules that contain append & prepend rules the same for insert, replace and maybe even Unicode rules (if they are supported in the future)

[2021-08-13 08:24] jsteube commented on #2933
We should stick to the original function operators. So $ for append and ^ for prepend. But generally I like the idea.

[2021-08-13 08:27] SoSander commented on #2933
Sure it was just the example of a command

[2021-08-13 08:29] matrix commented on #2927
@kipilk0 please include files that can be used to test

[2021-08-13 08:33] jsteube commented on #2928
I had this test with latest hashcat version after the fix from @philsmd and it works fine. It also cracks the hash with the password you had provided. So maybe all you need to do is to update to latest hashcat from GitHub master, or wait for the next release or use the binary beta from hashcat.net/beta Feel free to reopen if needed.

[2021-08-13 08:33] #2928 closed, assigned to m0rtalis

[2021-08-13 17:20] jj2hh2hasdf opened #2936 "CUDA toolkit ERROR: an illegal memory access was encountered"

[2021-08-13 17:25] #2936 closed, assigned to nobody

[2021-08-14 07:19] #2401 closed, assigned to nobody

[2021-08-14 09:53] jsteube commented on #2933
Added with commit https://github.com/hashcat/hashcat/commit/05f107cbe59476dc5b5701e990c525abdd946fd6

[2021-08-14 09:53] #2933 closed, assigned to jsteube

[2021-08-16 02:59] Shooter3k opened #2938 "[FR] allow for --debug-file to be used for matched and unmatched candidates"
It would be really great to be able to see the 'before_rule:rule:after_rule' of a candidate regardless of it matching or not. Would it be possible to allow for the --debug-file to be used to output the results for matched and unmatched candidates?

Maybe something along the lines of:
--debug-mode=5 --debug-file=unmatched.rule --keep-guessing

results in unmatched.rule would contain the exact same

[2021-08-16 03:19] Chick3nman commented on #2938
This is essentially what `--stdout` is for, as it produces all candidates generated, include after a rule is applied. Doing this in attack using the debug flag makes pretty much 0 sense as you will basically be dumping nearly the same results as `--stdout` to a file, except with pre-processed word and rule included. There's not really a reasonable way to parse such a large output of candidates wit

[2021-08-16 15:02] m0rtalis commented on #2928
Just had time to test it again. Works with the current master.
Thank you for your help

[2021-08-16 22:49] magnumripper opened #2939 "-m20500 doesn't work with -i -a3"
This (using `-i`) bugs out right after getting to length 2 while it works fine without `-i` manually trying various lengths of mask:
[code]
Many more same or similar errors until it stops (crashes?)

Trying 20510 instead, all works fine:
[code]

The problem seems to having been introduced by d4997d125: That point in history fails while the previous one (namely d85a9b602) works fine.

[2021-08-16 22:54] Xanadrel commented on #2939
Can confirm, for me it's a bunch of:
[code]

[2021-08-17 13:47] jsteube commented on #2939
OK yeah can reproduce, too. What is that you bring here @magnumripper :) Nice find..

[2021-08-17 13:55] jsteube commented on #2939
I think is an OOB read here, in case of password 0.

[code]

The kernel should be resistant to zero length passwords, so this needs a fix by simply switching the "u32 pos" to "int pos".

There's also the question why it has to handle a zero length password and I think is related to the autotune changes. So the bug was in there all the time, it was just never triggered.

[2021-08-17 15:11] aasim-syed opened #2940 "Multilingual documentation!"
**GitHub is for bugs and features - not for support**
For support, please use the hashcat forums https://hashcat.net/forum/

**Check the FAQ**
Some items that might appear to be issues are not issues. Please review the hashcat FAQ https://hashcat.net/wiki/doku.php?id=frequently_asked_questions before submitting a bug report.

**Describe the issue**
A clear and concise description of what the issue

[2021-08-17 15:31] Chick3nman commented on #2940
You've just submitted the template as the body of the issue. If you want to make a Feature Request for multi language documentation, please reopen this with the body of the request filled out instead of just the template.

[2021-08-17 15:31] #2940 closed, assigned to nobody

[2021-08-17 15:56] jsteube commented on #2939
OK, this should be fixed with commit https://github.com/hashcat/hashcat/commit/92546039606bd82650dc77c5fa3e84b7cd01d7fc thanks for reporting!

There's two bugs actually. The first one was the OOB read as described above, but there was more to it.

The bug popped up after the kernel thread auto tune feature was added. So something happend that the kernel received zero length passwords due to this c

[2021-08-17 15:56] #2939 closed, assigned to jsteube

[2021-08-17 20:23] ghost commented on #2927
Yes.

Sorry, i can`t send you hash due , because it have private data.
$metamask$ hash has 1300+ symbols length

[2021-08-17 22:31] Vedant0704 commented on #2580
@AgataImiolek  How did it worked? can you please tell. I have the same issue

[2021-08-17 22:35] Vedant0704 opened #2941 "Hashcat Issue"
**GitHub is for bugs and features - not for support**
For support, please use the hashcat forums https://hashcat.net/forum/

**Check the FAQ**
Some items that might appear to be issues are not issues. Please review the hashcat FAQ https://hashcat.net/wiki/doku.php?id=frequently_asked_questions before submitting a bug report.

**Describe the bug**
A clear and concise description of what the bug is.

[2021-08-17 22:36] #2941 closed, assigned to nobody

[2021-08-19 06:31] heapbytes commented on #1172
anyone help me :
I am decoding the bcrypt hash
and I know the password length is 4 ........ how can I set the length...
hashcat -m 3200
 hashes1.txt /usr/share/wordlists/rockyou.txt  I used this command
 the hash is _redacted_

[2021-08-19 19:48] 9wwaf opened #2942 "redacted"
**Is your request based on a publicly known cryptographic schema and where can we find information about?**
For instance:
- The hashing function XY is a public known hash algorithm on Wikipedia.
- The password protection for the application XY was made public by security researcher XY and there's a paper called ...
- The cryptographic schema used in protocol XY can be found in the OSS code on it's

[2021-08-19 19:53] epixoip commented on #2942
No.

[2021-08-19 19:53] #2942 closed, assigned to nobody

[2021-08-19 20:51] AgataImiolek commented on #2580
@Vedant0704 Hey, I ended up using a virtual machine and running the hashcat on there. Also, I got a new laptop. I recommend David Bombal's youtube channel, he has a lot of useful tutorials on there and it is one of the main resources that I use for learning new things. ( Fyi I am not an expert on this, I am just a chemistry student trying to get my head around things in my free time so probably no

[2021-08-23 16:32] loic-bellinger opened #2944 "Association attack error : "word count is not in sync with salt count""
**Describe the bug**
Hashcat throws this error when trying the new -a 9 attack : "word count is not in sync with salt count. Words: 691, salts: 1". Still, I'm sur the hashes list and the hints list got the same number of lines.

**To Reproduce**

`hashcat -m 0 "C:\Users\X\Documents\Hacking\Password hacking\asso_hashes.txt" "C:\Users\X\Documents\Hacking\Password hacking\asso_hints.txt" -a 9` on Win

[2021-08-23 16:53] Shooter3k opened #2945 "[FR] add hash number to Hash.Name line"
Could the hash number be added to Hash.Name line? I ask this because I use scripts to run hashcat and often end up having to look up the hash number at a later point of the run.

Something like this:
Hash.Name........: Blockchain, My Wallet, V2    (15200)
Hash.Name........: SHA1   (100)

or this:
Hash.Name...(15200): Blockchain, My Wallet, V2
Hash.Name.....(100): SHA1

[2021-08-23 17:18] 0xVavaldi commented on #2945
Created a PR to resolve this ticket. The mode is kind of in the command and users have to specify it when they run their command. They can also check the hash.name on the site to verify which mode they ran so it's a little redundant.

I'll leave it to the devs to decide if they'd want this added or not.

[2021-08-25 10:36] 0xVavaldi commented on #2945
This can be closed @jsteube.

[2021-08-25 11:00] #2945 closed, assigned to nobody

[2021-08-25 11:01] 0xVavaldi commented on #2944
That's because -m0 (a.k.a. MD5) does not have salts. So it returns the error that your salt count and word count is not aligned.
Long story short, if you don't have salts, you can't perform the candidate optimization that this mode uses.

Performing a candidate attack on unsalted lists is something that's very unlikely to be implemented as well in the near future - it's been brought up a few times

[2021-08-25 14:42] dizcza opened #2950 "'inc_vendor.h' file not found with POCL backend"
**Describe the bug**
hashcat v6.2.3 doesn't run commands (although it builds successfully) with [POCL](https://github.com/pocl/pocl) (v1.6, v1.7, and latest master branch) while it worked fine with previous versions of hashcat, in particular, I had no problems running hashcat v6.2.1 with any versions of POCL.

[code]

**To Reproduce**
1. Install the latest POCL.
2. Build and compile hascat v6.2.3

[2021-08-25 15:04] epixoip commented on #2950
You're correct, POCL is not officially supported. Please use Intel oneAPI instead.

[2021-08-25 16:51] 123Serg commented on #2927
@matrix I have same error, some of my hashes have big length, can you increase hash length limit to 2000-3000 sybmols please?

[2021-08-25 17:47] dizcza commented on #2950
I see.
Feel free to close the issue unless someone is willing to work on it.
Thank you.
Best,
Danylo

[2021-08-25 22:36] llamasoft opened #2951 "NTLM optimized kernel throws "clLinkProgram(): CL_LINK_PROGRAM_FAILURE""
Running hashcat using hash type 1000 (NTLM) _optmized_ kernel throws the following error:

[code]

Removing the optimized kernel flag (-O) allows it to work, although at a much slower rate.

This issue seems to affect attack types 0 (straight), 1 (combination), 6 (wordlist + mask), and 7 (mask + wordlist).  Attack mode 3 (brute force) works correctly.  Attack mode 9 (association) wasn't tested.

I

[2021-08-26 18:58] hops commented on #2951
This might be related to a bug introduced when support for HIP was added. If so it's already been fixed (after v6.2.3 was released)
Could you try using the beta from https://hashcat.net/beta/ and report back?

[2021-08-26 21:21] llamasoft commented on #2951
Nope, the issue persists.  Although I do get a new warning about hipFuncGetAttribute:

[code]

Just as before, using `--benchmark --hash-type 1000 -O` works just fine.  I believe it uses the "a3" kernel which I haven't had issues with.

[2021-08-27 06:28] Liverrrrr commented on #2951
I don't know if there is already an issue for this, but something similar also happens to me any time I try to use hashcat with a 7100 hash. I tried pre-compiled binaries as well as compiling myself, which only gave me an additional error when i run the benchmark that says `Device #1: Not enough allocatable device memory for this attack.` (md5).

[2021-08-27 15:21] llamasoft commented on #2951
That sounds unrelated.  You might want to open a separate issue for it.

[2021-08-28 06:39] Liverrrrr commented on #2951
Actually that device memory issue seems to be fixed when I went to hashacat.net and downloaded the official 6.2.3 release binaries and compiled it from there, but i still get this error on the 7100 without optimized kernel mode enabled...
[code]
and with it, it says:
[code]
and then just displays the previous error. But I have only tried this with attack mode 3.

[2021-08-28 15:58] sirius1988 commented on #2813
I'm having this same issue using a 3080 :(
![1](https://user-images.githubusercontent.com/89699970/131223674-ca21b14c-555c-489f-b6ac-5afecc5e342e.png)

[2021-08-29 22:47] ghost commented on #2927
Metamask hash contain sensetive info , you have private e-mail where i can send hash ?

[2021-08-30 03:37] Qwertylex commented on #2910
did it work?
i think -d 1 would just choose your Xeon CPU instead of the Phi's?

[2021-08-30 12:57] Shooter3k opened #2952 "[FR] Allow option to clean hashfile and/or rulefile"
Often when running large hashfiles or large rule files, invalid results will sneak in and cause dramatic slowdowns as well as issues with -a9.

Example: Skipping invalid or unsupported rule in file ______
Example2: Hashfile 'hash.file' on line 90812935 (hash_here): Token encoding exception

It would be great if there was an option to remove bad hashes from the file or remove invalid rules, since i

[2021-08-30 15:31] mar232320 opened #2953 "Teamspeak 3 channel hash feature request"
I'd like to request adding Teamspeak 3 channel hash algorithm to hashcat

The algo is based on sha1 with the usage of base64
The exact algorithm is **base64(sha1(base64(sha1($pass))$virtualserver_keypair))**
The $virtualserver_keypair is 152 characters long so it's hard to bruteforce, but the user knows it and could supply it to the program. The hash colud also be converted from base64 to hex to i

[2021-08-30 16:29] sylar-my opened #2954 "radeon sapphire nitro plus rx5700t is not detected on kali"
I'm using AMD ryzen 7 3700x and radeon sapphire nitro plus rx5700xt on kali.

`Linux kali 5.10.0-kali9-amd64 #1 SMP Debian 5.10.46-4kali1 (2021-08-09) x86_64 GNU/Linux`

But My GPU is not detected but only working with CPU.I install amd gpu from amd.com for ubuntu and install with below command.

`./amdgpu-install --opencl=legacy --headless --no-dkms`

![hashcat](https://user-images.githubusercont

[2021-08-30 17:00] ghost commented on #2927
Hashes >1000 length with error
https://i.imgur.com/RgUldAK.png

[2021-08-30 17:21] jsteube commented on #2954
please ask on forum

[2021-08-30 17:21] #2954 closed, assigned to nobody

[2021-08-30 17:23] jsteube commented on #2952
I don't see how this affects performance, so this is not a valid FR. Also, 90m hashes is extreme, expect side effects.

[2021-08-30 17:23] #2952 closed, assigned to nobody

[2021-08-30 17:26] jsteube commented on #2951
It seems the legacy AMD driver on Linux fails to support clLinkProgram() which is a required function for OpenCL spec compatibility. Also HIP support is for future driver version which is not yet released by AMD.

[2021-08-30 19:30] llamasoft commented on #2951
Is `clLinkProgram` only used by the a0 and not the a3 kernel?
Also it appears that `clLinkProgram` has been part of the OpenCL spec since v1.2.  I can't imagine why it wouldn't be present on my OpenCL 2.1 drivers.

If I had to hazard a guess, I don't think "Error: Call of undefined function" is referring to `clLinkProgram`.  I think the linking step discovered an unsatisfied external function call

[2021-08-30 19:42] roycewilliams commented on #2952
It takes a first pass, but you can use something like `-a 0 -m [mode] -O empty.txt --remove` to strip invalid hashes. (Thanks to @philsmd who first pointed this out to me.)

You can also use `--backend-ignore-opencl --left hashes.txt -m [mode] --potfile-path=/dev/null >cleaned.txt` to get the same effect, but it's less elegant.

[2021-08-30 20:24] 0xVavaldi commented on #2952
empty.txt --remove takes too much time since it goes over every blank password. With a list like bcrypt it's a lot of time.
--left is a lot faster - even if less elegant

[2021-08-31 09:41] its5Q opened #2955 "Metamask - Reject candidates less than 8 characters"
**Describe the feature**
Currently, when cracking metamask hashes, all candidates are used. When you are creating a metamask account, you can't actually set a password less than 8 characters long, so it would make sense to reject candidates less than 8 characters long.

**Hashcat version (please complete the following information):**
 - OS: Windows 10
 - Version: 6.2.3

[2021-08-31 14:43] matrix commented on #2927
Hi, could you please try this version? I doubled the length of the ciphertext

https://github.com/matrix/hashcat/tree/metamask_big

Let us know, thanks

[2021-08-31 18:05] braindamagedjustnow commented on #2951
Same thing happens to me (6900XT). I also tried to follow "I may have the wrong driver installed, what should I do?"
Reinstalled everything etc - still the same.
With hashcat 6.2.0 it's working as it should

[2021-09-01 15:29] visccyberacct opened #2957 "VirtualBox Kali Linux Illegal Hardware Instruction"
I am fairly new to hashcat and I cannot seem to find a fix for this issue no matter how hard I look. I have been looking for about 2 weeks now. Everything I have found seems to show that hashcat cannot work in a VM environment. I apologize if this is the incorrect place to post this.

I have tried a number of different cli inputs and I get the same issue every time

Initializing backend runtime fo

[2021-09-02 01:30] samm4444 commented on #1539
I'm still getting this problem on hashcat-6.2.4. Is there something I should be doing or is this still not fixed?
If this is still not resolved then should this issue still be open @jsteube

[2021-09-02 08:23] jsteube commented on #2957
Do not use a VM for hashcat.

[2021-09-02 08:23] #2957 closed, assigned to nobody

[2021-09-02 08:24] jsteube commented on #2951
You can't do anything, neither can hashcat devs.

[2021-09-02 08:25] #2951 closed, assigned to nobody

[2021-09-02 08:26] jsteube commented on #2927
@matrix Why no PR? Are you unsure if it will still work?

[2021-09-02 08:26] jsteube commented on #2955
I think is just adding the same function to the plugin like WPA 22000 is doing.

[2021-09-02 08:28] jsteube commented on #2952
It's the opposite. The elegant solution is using --left. No clue why you think it's not elegant.

[2021-09-02 11:35] matrix commented on #2927
I'm not sure if it's enough to double up. Maybe we need to triple the length, let's see what they say :)

[2021-09-02 11:48] its5Q commented on #2927
I've tested bruteforcing a wallet with 10 accounts with your branch, and the hash was pretty long, and it worked, so I think the length is good enough.

[2021-09-02 12:05] matrix commented on #2927
Well. I'm waiting @123Serg and @kipilk0 feedback before PR. Thanks :)

[2021-09-02 16:14] braindamagedjustnow commented on #2951
I guess I missed to write that I am on Windows 10. Also why I have no problems with 6.2.0 but it won't work on the latest version?

[2021-09-02 16:41] llamasoft commented on #2951
Incorrect.  This appears to be fixed in the latest [hashcat beta](https://hashcat.net/beta/) (v6.2.4-25-g178003d69).
Hash type 1000 (NTLM) optimized attack mode 0 now runs just fine for me.  It still throws a "hipFuncGetAttribute is missing from HIP shared library" warning but that doesn't seem to stop it.

It would be helpful if the device info (`-I`) flag showed HIP information.  It would make t

[2021-09-02 16:44] jsteube commented on #2951
Is not possible, because the code that can be used to query versioning info is changed wildly by AMD, as well as versioning convention itself.

[2021-09-05 07:36] jsteube commented on #2953
152 bytes doesn't sound like something a developer would use for a hard coded length. Can we be sure this is a fixed length? What happens if you add another channel, maybe with a different parent channel, and a different password?

[2021-09-05 08:06] jsteube commented on #2950
FTR, I can reproduce this with POCL 1.7 release and hashcat (v6.2.4-38-g5503212b3).

[2021-09-05 08:08] jsteube commented on #2950
@dizcza It seems the POCL error occurs only if hashcat was installed using "make install". If hashcat was just cloned and compiled or downloaded as .7z package and later executed from the unpack location, it works fine. Are you sure that with the previous version you had tested you also tested it after using "make install"?

[2021-09-05 08:34] jsteube commented on #2950
Using a git bisect session I found the commit which caused the problem is 28c08de9ef72e9907b6f1356484429756cee1c0b and the commit before was working.

Still, this is not a hashcat problem, but this particular commit destroyed a workaround for the POCL issue.

[2021-09-05 08:50] #2944 closed, assigned to nobody

[2021-09-05 08:56] jsteube commented on #2950
Added a workaround with commit https://github.com/hashcat/hashcat/commit/8c14fd85eaf98f4cda3acf8f917edae696a3bb71

Thanks for reporting.

[2021-09-05 08:56] #2950 closed, assigned to nobody

[2021-09-05 08:58] #2938 closed, assigned to nobody

[2021-09-05 08:59] kost123 opened #2963 "Rules need updating"
Would be nice to update the rules as they havn't been updated for a very long time.

https://docs.google.com/spreadsheets/d/1qQNwggWIWtL-m0EYrRg_vdwHOrZCY-SnWcYTwQN0fMk/edit#gid=1952927995

Is good for reference, there are so many better rules out now.

My Suggestions:
[code]

New rules:
[code]
The above are all just mixed rules, the best for their effective size. I feel like there needs to be mor

[2021-09-05 11:22] its5Q commented on #2927
Just tried it with my Binance Chain wallet, and it turns out binance stores a lot of data in the vault, so I couldn't crack it even with doubled length, even though it worked on a metamask wallet with 50!! addresses.

[2021-09-05 11:31] matrix commented on #2927
what's the len of the ciphertext?

[2021-09-05 11:32] its5Q commented on #2927
The encrypted data length, or the whole hash? The whole hash is 3177 characters long.

[2021-09-05 11:35] matrix commented on #2927
only data

[2021-09-05 11:37] its5Q commented on #2927
The data is 3096 characters long.

[2021-09-05 14:54] dizcza commented on #2950
Thanks for looking into this @jsteube
Wouldn't it make more sense to open an issue in POCL and describe "please handle quotes in the include path gracefully"?

Yes. I always install hashcat with `make install`

[2021-09-05 15:36] jsteube commented on #2950
In theory yes, but I stopped reporting bugs in OpenCL runtimes a long time ago.

[2021-09-06 02:40] its5Q commented on #2927
Also, sorry for the off-topic question, but why with your branch version that I compiled it builds the dictionary cache each time I run the attack with the same dictionary? That's not the case with the release version, and I don't think it should be doing that

[2021-09-06 11:03] corsch commented on #2963
This sounds like a great idea. Can you provide links to the rules?

[2021-09-06 16:17] matrix commented on #2927
Please retry again with https://github.com/matrix/hashcat/tree/metamask_big

[2021-09-06 17:26] philsmd commented on #2674
just had a quick glance at this algorithm.

The algorithm detail (how the data is checked/decrypted with a freshly generated key from the password) looks very similar to our already available `-m 22700 = MultiBit HD (scrypt)` algorithm.

i.e.

scrypt with N=16384, r=8, p=1 of the user password to generate an encryption/decryption key, after that the data is decrypted with the given IV and the AES-

[2021-09-07 05:44] Chick3nman commented on #2963
While I can see the idea, the test setup acting as the basis for this looks like an extremely limited case to be basing the above assumptions off of. It would be somewhat naive to just throw away rules based on a single test against a single list of only 5 million hashes without considering all the other factors involved in "rule effectiveness" or "rule efficiency". I also don't think the use case

[2021-09-07 06:33] kost123 commented on #2963
I have to disagree, most of those rule sets are just mixed rules, intended to crack as many hashes as possible from any general hash. This makes them outdated, it doesn't really matter if they have been "hand crafted over years", they are not as effective anymore. There are better options on that list I linked. And whilst I may be wrong about "oscommerce.rule", the fact is I wrote "My suggestions"

[2021-09-07 10:17] Xanadrel commented on #2963
A few thoughts:
- The motivation for this proposal seems to be the analysis provided in the spreadsheet, (it feels like you came across it and just picked what looked like the best choices), though it's not a valid base to decide which rules are great or not, it is one specific case that does not match what most hashcat users do.
- You don't give details about the proposed sets of rules, were they

[2021-09-07 10:39] kost123 commented on #2963
Not sure how you came to that conclusion, I picked what is best based of what is best. "it is one specific case that does not match what most hashcat users do." Mind telling me what it is that most hashcat users do? Most hashcat users are users that crack hashes for other people that ask for it. Most hashcat users attack database hashes. Both of which mixed rules like in the link are an essential

[2021-09-07 11:48] Chick3nman commented on #2963
Based on.... what exactly? There is no "best" without something to back it up and your original post seems to indicate your backing data is that spreadsheet, hence our pointing out that it's not enough test data to make that determination.

I think this may be a significant source of confusion here and may be causing some of this misunderstanding. This is actually not what "most" hashcat users do.

[2021-09-07 12:20] kost123 commented on #2963
It's for sure enough data. It's a real world example of attacking general hashes with general rule lists. It has way more data behind it than "heres a random generated2.rule/dive/d3ad0ne rule set that has no comparison data behind it, lets put it in". If you genuinely believe that this spreadsheet is not a great indication of the rules effectiveness, then I don't know what else will make you belie

[2021-09-07 13:15] Chick3nman commented on #2963
No, it's not. It's a single, incredibly small, limited test. That's like testing a single game on a new PC and declaring it better than a different PC. Meanwhile, that other PC could run every other game out faster, and you wouldn't know better. Your single data point is absolutely not "for sure enough data".

No, it doesn't. Those rules have a _ton_ of data that went into creating them, as the ma

[2021-09-07 13:55] realSnoopy opened #2968 "--show doesnt work as expected with "empty" second part of LM-hashes"
we know, lm splits the given pw into 2*7chars, so when the pw is shorter than 7 chars, the second part of the hash will be aad3b435b51404ee [empty hash]

hashcat skips this part by default, because it is an empty hash BUT when using --show with such a short cracked pass it will result in
`pass[notfound]` and not in correct `pass`

[2021-09-07 19:31] mar232320 commented on #2953
The keypair is base64 encoded with the padding. I have made a few tests and the length is always 152 and base64 decoded keypair is **always** 112 characters long. The keypair doesn't change when I add new channels and subchannels and it doesn't depend of the password. Subchannel password hashes are generated using the same algorithm.

[2021-09-07 23:52] Vegasq opened #2969 "Cracking speed degradation"
**Describe the bug**
Major degradation in cracking speed (bcrypt/association attack in my case).

Broken version (50e28ff3064db43eb3b10490974ec1e9c4910745):

[code]

Working version (6b4786de8412e10c9f559c8479fc456cc928843d):

[code]

**To Reproduce**
Generate 10.000 bcrypts (12 rounds).

Build HC from master or any commit after https://github.com/hashcat/hashcat/commit/50e28ff3064db43eb3b10490974

[2021-09-08 00:06] Chick3nman commented on #2969
I think I see what is happening while recreating this but I'm not certain its the same. Does your speed start out about the same, and then rapidly decay over the course of the attack? Or does it start out super slow and just run that way the whole time?

[2021-09-08 00:07] Vegasq commented on #2969
Starts as expected ~460h/s, but around the time I would expect it to finish it rapidly drops.

[2021-09-08 00:11] Chick3nman commented on #2969
Alright, I can recreate this. Let me see if i can figure out why this would happen after that commit.

[2021-09-08 11:24] its5Q commented on #2969
I've got a similar issue, but with -m 26600, also decaying from 120 kh/s to around a thousand at the end of the workload when using -S with small wordlist and a big ruleset.

[2021-09-08 14:14] jsteube commented on #2969
Can reproduce, too. Attached some self generated files for debugging.
[ll.txt](https://github.com/hashcat/hashcat/files/7129476/ll.txt)
[wl.txt](https://github.com/hashcat/hashcat/files/7129477/wl.txt)

[2021-09-08 14:49] jsteube commented on #2969
I do not think commit https://github.com/hashcat/hashcat/commit/50e28ff3064db43eb3b10490974ec1e9c4910745 from @jtojanen is the source of the problem.

Instead I think the commit which initially cause the problem is this: https://github.com/hashcat/hashcat/commit/92546039606bd82650dc77c5fa3e84b7cd01d7fc I just don't know why (yet)...

[2021-09-08 15:36] NickY-SC commented on #2969
@jsteube oh, my bad. Github UI fooled me into believe those commits are sequential, when they are not.

[2021-09-08 15:40] jsteube commented on #2969
I think I have a fix here:

[code]

If you want, you can try it with git apply and report if it works for you, but I think it will. I'll push it later officially and I am also thinking about a hotfix, because this affects all hash-modes and all attack-modes, so it's very serious.

[2021-09-08 15:45] Vegasq commented on #2969
Can confirm that it fixes the issue.

[2021-09-08 17:44] mikekornikh opened #2971 "Unsupported AMD HIP runtime version '0.0.3276' detected! Falling back to OpenCL..."
Hi! I just installed the new version of Hashcat (6.2.4) and when I start it I get this message-
Unsupported AMD HIP runtime version '0.0.3276' detected! Falling back to OpenCL...
Do I need to manually install the proper HIP runtime? I'm running it in Windows 10 on an AMD Radeon RX 5700 graphics card. Thank you for the help!

[2021-09-08 19:51] ITAxReal opened #2972 "ROCm installed but no devices found"
ROCm installed in /opt and added to PATH, but hashcat can't find my device.

**To Reproduce**
Fresh install Kubuntu 21.04, install ROCm from AMD repos by the official guide (https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html)

**Hardware/Compute device (please complete the following information):**
- Compute device name: RX 6900 XT
- OpenCL/CUDA driver name: amdgpu drive

[2021-09-08 21:03] wherget opened #2973 "7zip Token length exception for files >976kB"
**Describe the bug**
Hashcat seems to have trouble loading 7z hashes where the (smallest) file exceeds a certain size.
I've experimentally determined that size to be around the 977 kB mark, though if I understood 7z hashes correctly this may vary minimally with the compressibility of the data (the reproduction tries random data as to minimize that effect). You may need to increase the size slightl

[2021-09-08 21:33] jtojanen commented on #2971
The message you received is informative, not an error. Everything will work just fine with OpenCL. This is not a bug, please close this and use hashcat forums instead.

[2021-09-08 22:26] eberhab commented on #2360
Hi all, really interesting! I was trying to use v3 on a bcve volume, but I fail to extract the hash from the volume. Do you have a some python code which can extract the hash from a bcve volume? Thanks!

[2021-09-09 04:36] EMU-TIME opened #2974 "MD5(MD5($pass).ToLower() + $salt) is that module exist?"
thank！

[2021-09-09 04:41] EMU-TIME opened #2975 "I'm thinking about a problem, why can't I customize the encryption method(hash-mode)?"
For example, add a new mode:
-cm MD5(MD5($pass).ToLower()+$salt)

It’s okay if the efficiency can be lowered appropriately.

[2021-09-09 07:10] jsteube commented on #2975
Currently there are no plans to add this kind of generic hash mode interface. Try JtR, it supports it for CPU cracking.

[2021-09-09 07:10] #2975 closed, assigned to nobody

[2021-09-09 07:11] jsteube commented on #2974
Double post: https://github.com/hashcat/hashcat/issues/2975

[2021-09-09 07:11] #2974 closed, assigned to nobody

[2021-09-09 07:11] jsteube commented on #2972
I think 6900XT is not supported by ROCm. You need to use Windows.

[2021-09-09 07:11] #2972 closed, assigned to nobody

[2021-09-09 07:12] #2971 closed, assigned to nobody

[2021-09-09 07:32] ITAxReal commented on #2972
That's not. I have found some useful info about ROCm installation on linux but i lost this link :(. It says that some ROCm libs has other names then amdgpu-pro has due to compatibility reasons. So the goal is to install some libs and configs from amdgpu-pro to get ROCm available for other applications. Not sure that it works as expected. I just wanted to leave default amdgpu driver in system 'caus

[2021-09-09 12:17] PenguinKeeper7 commented on #2963
For what it's worth, I chose Aptoide for the express reason of it being a very "stable" hashlist to test from, as it seemed to be very average, whilst being small enough to be run on basically any PC so anyone can test their own wordlists or rules, while having no password requirements and very varied language support. I didn't choose it out of nowhere. I should also point out that the sheet was n

[2021-09-10 14:54] EricFromCanada opened #2976 "Benchmarks not running on Apple M1 as of v6.2.x"
Device: Apple Mac mini M1
OS: macOS 11.4-arm64
Version: 6.2.4

The last version that the Apple Silicon (M1) platform ran the benchmark on was 6.1.1:
[code]

As of v6.2.0, it simply stops without output, even when built with DEBUG enabled:
[code]
Other hash types (e.g. 1500, 900, 50, 60) fail in the same manner.

For now, the Homebrew formula is [stuck](https://github.com/Homebrew/homebrew-core/pul

[2021-09-10 15:47] #2973 closed, assigned to philsmd

[2021-09-10 15:49] philsmd commented on #2973
Please test with the fix below that allows longer field sizes for -m 11600 = 7-Zip:

https://github.com/hashcat/hashcat/commit/afa2330e6a4fa8837732d1cf6c07f9cd7c9c3d90

[2021-09-10 18:24] #2674 closed, assigned to nobody

[2021-09-11 02:40] ghost opened #2977 "Hashcat6.2.4 bug"
Use 6.2.3 without this problem

Use6.2.4
hashcat.exe -m 13600 -a 3 zip.txt  -o outpass.txt  --increment --increment-min 1  --increment-max 7 ?a?a?a?a?a?a?a?a

OpenCL API (OpenCL 1.2 CUDA 11.0.228) - Platform #1 [NVIDIA Corporation]
========================================================================
* Device #1: GeForce RTX 2070, 6720/8192 MB (2048 MB allocatable), 36MCU
* Device #2: GeForce R

[2021-09-11 11:47] its5Q commented on #2927
Tried that, for me it works great now, didn't have any length problems.

[2021-09-11 18:56] #2838 closed, assigned to nobody

[2021-09-11 18:59] #2969 closed, assigned to nobody

[2021-09-11 19:34] sigkill opened #2978 "Quick BIP-38 question - Does this seem like something that could be done with hashcat / scrypt?"
Firstly - apologies if this isn't the place for such questions / suggestions / technical questions - I was originally going to ask for a feature request, but I'm not even 100% certain that this is working as one would expect at this time...

From another repository I've been playing with a utility that seems like it works - I was able to create a wallet, take the encrypted private key, and public

[2021-09-13 10:33] wherget commented on #2973
That looks to be working as expected. Thank you very much for the fast fix.

[2021-09-13 11:51] ghost opened #2979 "Does not support the RAR4.xx hash algorithm?"
Does not support the RAR4.xx hash algorithm ?

Eg...
Password: 123456

$RAR3$*1*09dc97cb94ab9f20*cc69456b*112*145*1*4d61a4e0e96b96435ae2125fac119eb72bd1c4fc7a437f40817fb865858a1810601750f2e18bfeee555f22fb5ea491133391fda206788d28830fc959f933af37e671e5d8e5719887e44c24f52acfdb12ff054b74dd1412217a327f54f29e2488fe00cfae1a0a9cec7040d9ec9c651c5c*33:1::

[2021-09-13 11:52] ghost opened #2980 "Does not support the RAR4.xx hash algorithm?"
Does not support the RAR4.xx hash algorithm ?

Eg...
Password: 123456

$RAR3$*1*09dc97cb94ab9f20*cc69456b*112*145*1*4d61a4e0e96b96435ae2125fac119eb72bd1c4fc7a437f40817fb865858a1810601750f2e18bfeee555f22fb5ea491133391fda206788d28830fc959f933af37e671e5d8e5719887e44c24f52acfdb12ff054b74dd1412217a327f54f29e2488fe00cfae1a0a9cec7040d9ec9c651c5c*33:1::

[2021-09-13 11:53] #2980 closed, assigned to nobody

[2021-09-13 21:35] cyber-speed opened #2982 "CRC 64, Jones Variation"
Algorithm Request: CRC64

Links:
https://gist.github.com/maxpert/c544fade7be86270021ef8799cff73f6
https://pycrc.org/models.html#crc-64-jones

Example hashes and their respective strings:
1ff3210349a44a41 <-> engine\shaders\obj11\h00\hex115ca000.pso
0a40e9038be78981 <-> engine\shaders\obj11\h00\hex13eb5000.pso
00dbbafd89338e15 <-> engine\shaders\obj11\h00\hex350c2200.pso
1ea5d06dcd5c2671 <-> engine

[2021-09-14 12:26] #2979 closed, assigned to nobody

[2021-09-15 05:34] ghost opened #2983 "Bug Bug Bug Bug Bug Bug"
Bug  Bug Bug Bug Bug Bug Bug Bug Bug Bug Bug
 Is it never possible to solve it  ?  !!!!!

-a 6 mode
If the dic file is less than 10 words
Using this, in the case of multiple graphics cards, the maximum speed cannot be reached
I asked questions before
https://github.com/hashcat/hashcat/issues/2732
hashcat.exe -a 6 -m 2611  2611.hash  dic.txt  ?a?a?a?a?a?a

According to the method you  said
After us

[2021-09-15 10:28] jsteube commented on #2983
GitHub issues are for bugs and feature requests only. For usage related questions, please ask on hashcat forum.

[2021-09-15 10:28] #2983 closed, assigned to nobody

[2021-09-15 10:30] jsteube commented on #2977
Please install CUDA SDK and post the result using the same command.

[2021-09-15 10:37] ghost commented on #2977
Thanks  ......I will try when I have time

[2021-09-15 10:37] #2977 closed, assigned to nobody

[2021-09-15 10:39] jsteube commented on #2968
Can't reproduce:

[code]

Also works in split mode:

[code]

[2021-09-15 10:42] ghost opened #2984 "v6.2.4 support the zip standard 2.0 algorithm?"
Hashcat  support the zip standard 2.0 algorithm ?

Eg..

Password: 12345678

`$pkzip2$1*2*2*0*77*91*6b4569cc*0*4d*8*77*6b45*6e77*5224a95dec0c3641d08a811e95686e30e0011565e55342361722248b8149189056c4a752e02f1a80a3e37a3d71636b394ae097f76b02a1b8e401c16c48e16adca8e2d8dd406d866f77e6f926f72900c4536de4b75d5b106df5c9312cd8322a65fc342d3c7bb9076c9b3e911336d56f755512c7bc66a933*`

[2021-09-15 14:56] 0xVavaldi commented on #1966
Jefit (vbulletin site) makes partial use of Argon2 for password hashing.

[2021-09-15 15:30] tijldeneut commented on #1539
I agree, although it is a feature request, not a bug (works as intended).

[2021-09-16 10:52] ghost opened #2985 "Hashcat Integer overflow detected in keyspace of mask"
windows 10   cpu: 16core      RAM: 8gb

V6.2.4
Seems to encounter some errors

`D:\hashcat-6.2.4>hashcat --stdout -a 6 dic.txt  ?a?a?a?a?a   | hashcat  -m 22000  hc22000
hashcat (v6.2.4) starting

CUDA API (CUDA 11.4)
====================
* Device #1: NVIDIA GeForce RTX 2070, 6744/8192 MB, 36MCU
* Device #2: NVIDIA GeForce RTX 2070, 6744/8192 MB, 36MCU

OpenCL API (OpenCL 3.0 CUDA 11.4.125) - Plat

[2021-09-16 12:17] mohemiv opened #2986 "Hashcat v6.2.4: Host memory required for this attack: 32446 MB"
After an update of Arch linux hashcat started to use too much of memory.

[code]

*hashcat (v6.2.4)*
[code]

*hashcat v6.2.4-65-g799bc0abe*
[code]

*hashcat v6.2.3*
[code]

*hashcat v6.2.4-65-g799bc0abe -d 1*
[code]

[2021-09-17 13:09] realSnoopy commented on #2968
Windows 10
hashcat (v6.2.4-53-ga1ec246c8)
using a batch (all vars are set correctly)
[code]
-> same problem, tried (copied my mode-3000.potfile as hashcat.potfile)

`hashcat.exe -m 3000 --username LM.2crack --show`
-> same problem
cleaned my LM.2crack removing the usernames
`hashcat.exe -m 3000 LM.2crack --show`
-> same problem

due to the fact that LM is crackable in minutes, i think it is okay t

[2021-09-18 11:32] jsteube commented on #2968
I can reproduce this, but it seems to be a windows only problem. On my first tests I did do them only on Linux since there was no indication the OS is relevant. On Linux it works as it should.

[2021-09-18 12:18] jsteube commented on #2968
Fixed with commit https://github.com/hashcat/hashcat/commit/dbefc7e60eaa435b1cf567dd3c62b7e9edeed675

Many thanks for reporting.

New binary beta, up, too.

[2021-09-18 12:18] #2968 closed, assigned to jsteube